Repository u9401066/pubmed-search-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, no-env-inner-layers, source-counts-guard, todo-scanner, evolution-cycle

Path conditions:
  vulture: any of: ^(src|scripts)/ and \.py$
  deptry: any of: ^(src/|pyproject\.toml)
  mypy: any of: \.py$
  async-test-checker: any of: ^tests/
  tool-count-sync: any of: ^src/pubmed_search/presentation/mcp_server/
  future-annotations: any of: ^(src|tests)/.*\.py$
  no-print-in-src: any of: ^src/.*\.py$
  ddd-layer-imports: any of: ^src/pubmed_search/
  no-type-ignore-bare: any of: ^(src|tests)/.*\.py$
  docstring-tools: any of: ^src/pubmed_search/presentation/mcp_server/tools/
  no-env-inner-layers: any of: ^src/pubmed_search/(domain|application|shared)/
  source-counts-guard: any of: ^(src/pubmed_search/presentation/mcp_server/tools/unified\.py|tests/test_unified_tools\.py|tests/test_pipeline\.py)$
  todo-scanner: any of: ^(src|tests)/.*\.py$
  evolution-cycle: any of: (\.pre-commit-config\.yaml|copilot-instructions\.md|SKILL\.md|CONTRIBUTING\.md|pyproject\.toml|scripts/hooks/)

fix(fulltext): prioritize requested XML and report missing body sections
  scripts/perf/fulltext_prefetch.py
  src/pubmed_search/application/fulltext/cache.py
  src/pubmed_search/application/fulltext/sections.py
  src/pubmed_search/application/fulltext/service.py
  src/pubmed_search/presentation/mcp_server/tools/europe_pmc.py
  src/pubmed_search/presentation/mcp_server/tools/fulltext_runtime.py
  tests/test_all_tools_mcp_acceptance.py
  tests/test_europe_pmc_tools.py
  tests/test_europe_pmc_tools_extended.py
  tests/test_fulltext_prefetch.py
  tests/test_fulltext_service.py
  tests/test_research_reliability.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, no-env-inner-layers, todo-scanner

docs(fulltext): document read handoffs and v0.7.6 integration evidence
  .claude/skills/pubmed-fulltext-access/SKILL.md
  README.md
  README.zh-TW.md
  docs/design/FULLTEXT_PREFETCH.md
  docs/guides/TOOLS_USAGE_GUIDE.md
  docs/guides/TOOLS_USAGE_GUIDE.zh-TW.md
  docs/reports/README.md
  docs/reports/fulltext_prefetch_v076_2026-10-01.json
  docs/reports/release_v076_2026-10-01.md
  docs/site-content.js
  docs/site-content/overview-zh.md
  docs/site-content/overview.md
  docs/site-content/tools-usage-guide-zh.md
  docs/site-content/tools-usage-guide.md
  memory-bank/activeContext.md
  memory-bank/architect.md
  memory-bank/decisionLog.md
  memory-bank/progress.md
Due: evolution-cycle

chore(release): prepare v0.7.6
  CHANGELOG.md
  CITATION.cff
  Dockerfile
  copilot-studio/openapi-schema.yaml
  docs/index.html
  pyproject.toml
  src/pubmed_search/__init__.py
  uv.lock
Due: vulture, deptry, mypy, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner, evolution-cycle

fix(fulltext): validate prefetch mode and align agent read examples
  .claude/skills/pubmed-fulltext-access/SKILL.md
  docs/guides/USER_GUIDE.md
  docs/guides/USER_GUIDE.zh-TW.md
  docs/reports/release_v076_2026-10-01.md
  docs/site-content.js
  docs/site-content/user-guide-zh.md
  docs/site-content/user-guide.md
  memory-bank/activeContext.md
  memory-bank/progress.md
  src/pubmed_search/application/unified/request.py
  tests/test_fulltext_prefetch.py
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner, evolution-cycle

docs(release): record verified v0.7.6 publication
  docs/reports/README.md
  docs/reports/release_v076_2026-10-01.json
  docs/reports/release_v076_2026-10-01.md
  memory-bank/activeContext.md
  memory-bank/progress.md
Due: none

test: exercise production MCP workflows and exact release artifacts
  .pre-commit-config.yaml
  pyproject.toml
  tests/conftest.py
  tests/fixtures/release_support.py
  tests/test_all_tools_mcp_acceptance.py
  tests/test_container_smoke.py
  tests/test_e2e_workflows.py
  tests/test_release_transport_smoke.py
Due: deptry, mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner, evolution-cycle

test: remove 64 vacuous or superseded cases with review evidence
  docs/reports/test_renovation_removals_v077.json
  tests/test_comprehensive_coverage.py
  tests/test_core_ncbi_extended.py
  tests/test_europe_pmc.py
  tests/test_final_90.py
  tests/test_mcp_tools_extended.py
  tests/test_pdf_and_coverage.py
  tests/test_push_to_90.py
  tests/test_reach_90.py
  tests/test_round5_coverage.py
  tests/test_server_init.py
  tests/test_strategy.py
  tests/test_target_90_coverage.py
  tests/test_utils_and_coverage.py
Due: mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner

ci: move deterministic gates to pretest and verify real release boundaries
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  AGENTS.md
  CONTRIBUTING.md
  docs/README.md
  docs/development/TESTING.md
  docs/reports/release_v077_2026-10-01.md
  docs/reports/test_renovation_v077_2026-10-01.json
  docs/site-content.js
  docs/site-content/documentation-map.md
  docs/site-content/testing.md
  docs/site.js
  scripts/README.md
  scripts/build_docs_site.py
  scripts/build_github_wiki.py
  scripts/check_repo.py
  tests/test_check_repo.py
  tests/test_e2e_workflows.py
  tests/test_github_wiki_build.py
  tests/test_release_transport_smoke.py
Due: vulture, mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner, evolution-cycle

release: prepare v0.7.7 test and CI renovation
  CHANGELOG.md
  CITATION.cff
  Dockerfile
  README.md
  README.zh-TW.md
  copilot-studio/openapi-schema.yaml
  docs/index.html
  docs/reports/README.md
  docs/site-content.js
  docs/site-content/overview-zh.md
  docs/site-content/overview.md
  memory-bank/activeContext.md
  memory-bank/decisionLog.md
  memory-bank/progress.md
  pyproject.toml
  src/pubmed_search/__init__.py
  uv.lock
Due: vulture, deptry, mypy, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner, evolution-cycle

test: reject stale distributions before release installation
  docs/development/TESTING.md
  docs/reports/release_v077_2026-10-01.md
  docs/reports/test_renovation_v077_2026-10-01.json
  docs/site-content.js
  docs/site-content/testing.md
  tests/fixtures/release_support.py
Due: mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner

ci: retain real PowerShell hook contracts on Windows
  .github/workflows/ci.yml
  CONTRIBUTING.md
  docs/development/TESTING.md
  docs/reports/release_v077_2026-10-01.md
  docs/reports/test_renovation_v077_2026-10-01.json
  docs/site-content.js
  docs/site-content/testing.md
  tests/test_check_repo.py
Due: mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner, evolution-cycle

docs: record verified v0.7.7 publication and completed renovation
  .github/copilot-instructions.md
  docs/reports/README.md
  docs/reports/release_v077_2026-10-01.json
  docs/reports/release_v077_2026-10-01.md
  memory-bank/activeContext.md
  memory-bank/progress.md
Due: evolution-cycle
