Repository u9401066/pubmed-search-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, no-env-inner-layers, source-counts-guard, todo-scanner, evolution-cycle

vulture:
  name: vulture dead code scan
  entry: uv run vulture src/ scripts/ vulture_whitelist.py --min-confidence 80
  language: system
  pass_filenames: false

deptry:
  name: deptry dependency check
  entry: uv run deptry src/
  language: system
  pass_filenames: false

mypy:
  name: mypy type check (src/)
  entry: uv run mypy src/
  language: system
  pass_filenames: false

async-test-checker:
  name: async/sync test consistency
  entry: uv run python scripts/check_async_tests.py
  language: system
  pass_filenames: false

tool-count-sync:
  name: MCP tool docs sync (auto-fix)
  entry: uv run python scripts/hooks/check_tool_sync.py
  language: system
  pass_filenames: false

future-annotations:
  name: future annotations (auto-fix)
  entry: uv run python scripts/hooks/check_future_annotations.py --fix
  language: system
  pass_filenames: false

no-print-in-src:
  name: no print() in src/
  entry: uv run python scripts/hooks/check_no_print.py
  language: system
  pass_filenames: false

ddd-layer-imports:
  name: DDD layer dependency check
  entry: uv run python scripts/hooks/check_ddd_layers.py
  language: system
  pass_filenames: false

no-type-ignore-bare:
  name: no bare type:ignore
  entry: uv run python scripts/hooks/check_type_ignore.py
  language: system
  pass_filenames: false

docstring-tools:
  name: MCP tool docstrings required
  entry: uv run python scripts/hooks/check_docstring_tools.py
  language: system
  pass_filenames: false

no-env-inner-layers:
  name: no os.environ in domain/application
  entry: uv run python scripts/hooks/check_env_config.py
  language: system
  pass_filenames: false

source-counts-guard:
  name: per-source API count display guard
  entry: uv run python scripts/hooks/check_source_counts.py
  language: system
  pass_filenames: false

todo-scanner:
  name: TODO/FIXME scanner (warn)
  entry: uv run python scripts/hooks/check_todo_scanner.py
  language: system
  pass_filenames: false
  verbose: true

evolution-cycle:
  name: instruction ↔ skill ↔ hook consistency
  entry: uv run python scripts/hooks/check_evolution_cycle.py
  language: system
  pass_filenames: false

Add GitHub Pages docs deployment
  .claude/skills/pipeline-persistence/references/pipeline-tutorial.md
  .claude/skills/pipeline-persistence/references/pipeline-tutorial.zh-TW.md
  .github/agents/research.agent.md
  .github/workflows/pages.yml
  DEPLOYMENT.md
  README.md
  README.zh-TW.md
  docs/.nojekyll
  docs/INTEGRATIONS.md
  docs/PIPELINE_MODE_TUTORIAL.en.md
  docs/PIPELINE_MODE_TUTORIAL.md
  docs/TOOLS_USAGE_GUIDE.md
  docs/TOOLS_USAGE_GUIDE.zh-TW.md
  docs/index.html
  docs/site-content.js
  docs/site-content/deployment.md
  docs/site-content/overview-zh.md
  docs/site-content/overview.md
  docs/site-content/pipeline-tutorial-zh.md
  docs/site-content/pipeline-tutorial.md
  docs/site-content/quick-reference.md
  docs/site-content/tools-usage-guide-zh.md
  docs/site-content/tools-usage-guide.md
  docs/site-content/troubleshooting.md
  scripts/count_mcp_tools.py
  src/pubmed_search/__init__.py
  src/pubmed_search/application/export/__init__.py
  src/pubmed_search/application/pipeline/report_generator.py
  src/pubmed_search/presentation/browser_fetch_broker.py
  src/pubmed_search/presentation/mcp_server/TOOLS_INDEX.md
  src/pubmed_search/presentation/mcp_server/instructions.py
  src/pubmed_search/presentation/mcp_server/prompts.py
  tests/test_docs_site_sync.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner

Enable Pages in docs workflow
  .github/workflows/pages.yml
Due: none

Expand docs site i18n and guides
  README.md
  README.zh-TW.md
  docs/DEVELOPER_GUIDE.md
  docs/DEVELOPER_GUIDE.zh-TW.md
  docs/TOOLS_USAGE_GUIDE.md
  docs/TOOLS_USAGE_GUIDE.zh-TW.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE.zh-TW.md
  docs/index.html
  docs/site-content.js
  docs/site-content/developer-guide-zh.md
  docs/site-content/developer-guide.md
  docs/site-content/overview-zh.md
  docs/site-content/overview.md
  docs/site-content/tools-usage-guide-zh.md
  docs/site-content/tools-usage-guide.md
  docs/site-content/user-guide-zh.md
  docs/site-content/user-guide.md
  docs/site.css
  docs/site.js
  scripts/build_docs_site.py
  tests/test_docs_site_sync.py
Due: vulture, mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner

Add GitHub Wiki sync generator
  .github/workflows/wiki.yml
  scripts/build_github_wiki.py
  tests/test_github_wiki_build.py
Due: vulture, mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner

Clarify README documentation entry points
  README.md
  README.zh-TW.md
  docs/site-content/overview-zh.md
  docs/site-content/overview.md
Due: none

Sync docs site embedded payload
  docs/site-content.js
Due: none

Stabilize CORE live URL test
  tests/test_fulltext_urls.py
Due: mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner

Isolate Unpaywall fulltext unit test
  tests/test_europe_pmc_tools.py
Due: mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner

Add visual docs diagrams
  ARCHITECTURE.md
  README.md
  README.zh-TW.md
  docs/DEVELOPER_GUIDE.md
  docs/DEVELOPER_GUIDE.zh-TW.md
  docs/TOOLS_USAGE_GUIDE.md
  docs/TOOLS_USAGE_GUIDE.zh-TW.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE.zh-TW.md
  docs/images/ddd-runtime-boundaries.svg
  docs/images/docs-publishing-flow.svg
  docs/images/fulltext-retrieval-flow.svg
  docs/images/research-workflow.svg
  docs/images/tool-capability-map.svg
  docs/site-content.js
  docs/site-content/architecture.md
  docs/site-content/developer-guide-zh.md
  docs/site-content/developer-guide.md
  docs/site-content/overview-zh.md
  docs/site-content/overview.md
  docs/site-content/tools-usage-guide-zh.md
  docs/site-content/tools-usage-guide.md
  docs/site-content/user-guide-zh.md
  docs/site-content/user-guide.md
  tests/test_docs_site_sync.py
  tests/test_github_wiki_build.py
Due: mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner

Refresh docs asset cache key
  docs/index.html
Due: none

Polish docs UX and seed paper workflow
  docs/images/discovery-citation-workflow.svg
  docs/index.html
  docs/site.css
  docs/site.js
  tests/test_docs_site_sync.py
Due: mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner

Bump version to 0.5.8
  pyproject.toml
  src/pubmed_search/__init__.py
Due: vulture, deptry, mypy, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner, evolution-cycle

Integrate preprints into unified search aggregation
  CHANGELOG.md
  README.md
  README.zh-TW.md
  docs/site-content.js
  docs/site-content/overview-zh.md
  docs/site-content/overview.md
  src/pubmed_search/infrastructure/sources/article_mapper.py
  src/pubmed_search/infrastructure/sources/preprints.py
  src/pubmed_search/infrastructure/sources/registry.py
  src/pubmed_search/presentation/mcp_server/tools/unified.py
  src/pubmed_search/presentation/mcp_server/tools/unified_execution.py
  src/pubmed_search/presentation/mcp_server/tools/unified_formatting.py
  src/pubmed_search/presentation/mcp_server/tools/unified_planning.py
  src/pubmed_search/presentation/mcp_server/tools/unified_source_search.py
  tests/test_preprints.py
  tests/test_preprints_comprehensive.py
  tests/test_preprints_unified_integration.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, source-counts-guard, todo-scanner

Bump version to 0.5.9
  pyproject.toml
  src/pubmed_search/__init__.py
Due: vulture, deptry, mypy, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner, evolution-cycle

Document v0.5.9 changelog
  CHANGELOG.md
Due: none

Align architecture docs with preprint aggregation
  ARCHITECTURE.md
  docs/site-content.js
  docs/site-content/architecture.md
  uv.lock
Due: none

feat: persist MCP output artifacts
  src/pubmed_search/application/fulltext/service.py
  src/pubmed_search/application/session/__init__.py
  src/pubmed_search/application/session/artifacts.py
  src/pubmed_search/application/session/manager.py
  src/pubmed_search/infrastructure/sources/__init__.py
  src/pubmed_search/infrastructure/sources/base_client.py
  src/pubmed_search/infrastructure/sources/semantic_scholar.py
  src/pubmed_search/presentation/mcp_server/session_tools.py
  src/pubmed_search/presentation/mcp_server/tools/artifact_memory.py
  src/pubmed_search/presentation/mcp_server/tools/europe_pmc.py
  src/pubmed_search/presentation/mcp_server/tools/unified.py
  src/pubmed_search/presentation/mcp_server/tools/unified_execution.py
  src/pubmed_search/presentation/mcp_server/tools/unified_formatting.py
  src/pubmed_search/presentation/mcp_server/tools/unified_helpers.py
  src/pubmed_search/presentation/mcp_server/tools/unified_request.py
  src/pubmed_search/presentation/mcp_server/tools/unified_source_search.py
  src/pubmed_search/shared/settings.py
  tests/test_composite_params.py
  tests/test_europe_pmc_tools.py
  tests/test_fulltext_service.py
  tests/test_semantic_scholar.py
  tests/test_session_artifacts.py
  tests/test_session_tools.py
  tests/test_settings.py
  tests/test_sources_init.py
  tests/test_unified_tools.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, no-env-inner-layers, source-counts-guard, todo-scanner

style: normalize ruff formatting
  scripts/build_docs_site.py
  scripts/build_github_wiki.py
  scripts/run_mutation_gate.py
  src/pubmed_search/application/export/notes.py
  src/pubmed_search/application/image_search/advisor_scorer.py
  src/pubmed_search/application/pipeline/schema.py
  src/pubmed_search/application/pipeline/store.py
  src/pubmed_search/application/reference_verification/service.py
  src/pubmed_search/application/timeline/landmark_policy.py
  src/pubmed_search/application/timeline/milestone_policy.py
  src/pubmed_search/domain/services/__init__.py
  src/pubmed_search/domain/value_objects/__init__.py
  src/pubmed_search/infrastructure/ncbi/citation_exporter.py
  src/pubmed_search/infrastructure/ncbi/utils.py
  src/pubmed_search/infrastructure/sources/article_mapper.py
  src/pubmed_search/infrastructure/sources/browser_session.py
  src/pubmed_search/infrastructure/sources/fulltext_discovery.py
  src/pubmed_search/infrastructure/sources/fulltext_download.py
  src/pubmed_search/infrastructure/sources/fulltext_fetch.py
  src/pubmed_search/infrastructure/sources/institutional_fetch.py
  src/pubmed_search/infrastructure/sources/openalex.py
  src/pubmed_search/infrastructure/sources/registry.py
  src/pubmed_search/presentation/browser_fetch_broker.py
  src/pubmed_search/presentation/mcp_server/tools/_common.py
  src/pubmed_search/presentation/mcp_server/tools/agent_output.py
  src/pubmed_search/presentation/mcp_server/tools/pipeline_tools.py
  src/pubmed_search/shared/async_utils.py
  src/pubmed_search/shared/source_contracts.py
  tests/test_check_skills_frontmatter.py
  tests/test_entrez_modules.py
  tests/test_entrez_runtime_isolation.py
  tests/test_institutional_fetch.py
  tests/test_mcp_protocol_in_memory.py
  tests/test_pipeline.py
  tests/test_pipeline_runner.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, no-env-inner-layers, source-counts-guard, todo-scanner

chore(release): prepare v0.5.10
  CHANGELOG.md
  pyproject.toml
  src/pubmed_search/__init__.py
  uv.lock
Due: vulture, deptry, mypy, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner, evolution-cycle

chore(release): prepare v0.5.11
  CHANGELOG.md
  pyproject.toml
  scripts/check_cline_skills.py
  src/pubmed_search/__init__.py
  uv.lock
Due: vulture, deptry, mypy, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner, evolution-cycle

feat: add agent PICO handoff pipeline
  scripts/count_mcp_tools.py
  src/pubmed_search/application/pipeline/executor.py
  src/pubmed_search/application/pipeline/templates.py
  src/pubmed_search/application/search/query_analyzer.py
  src/pubmed_search/presentation/mcp_server/copilot_tools.py
  src/pubmed_search/presentation/mcp_server/instructions.py
  src/pubmed_search/presentation/mcp_server/prompts.py
  src/pubmed_search/presentation/mcp_server/tool_registry.py
  src/pubmed_search/presentation/mcp_server/tools/__init__.py
  src/pubmed_search/presentation/mcp_server/tools/pico.py
  src/pubmed_search/presentation/mcp_server/tools/strategy.py
  src/pubmed_search/shared/settings.py
  tests/test_mcp_tools_extended.py
  tests/test_pipeline.py
  tests/test_settings.py
  tests/test_source_registry.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, no-env-inner-layers, source-counts-guard, todo-scanner

feat: stabilize LLM wiki note exports
  src/pubmed_search/application/export/notes.py
  src/pubmed_search/presentation/mcp_server/tools/export.py
  src/pubmed_search/presentation/mcp_server/tools/unified_formatting.py
  tests/test_export_tools.py
  tests/test_unified_tools.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, no-env-inner-layers, source-counts-guard, todo-scanner

docs: sync PICO and wiki guidance
  .claude/skills/pipeline-persistence/SKILL.md
  .claude/skills/pipeline-persistence/references/pipeline-tutorial.md
  .claude/skills/pipeline-persistence/references/pipeline-tutorial.zh-TW.md
  .claude/skills/pubmed-mcp-tools-reference/SKILL.md
  .claude/skills/pubmed-pico-search/SKILL.md
  .clinerules/70-pubmed-mcp-tools.md
  .github/agents/research.agent.md
  .github/copilot-instructions.md
  .github/hooks/copilot-tool-policy.json
  .github/zotero-research-workflow.md
  ARCHITECTURE.md
  README.md
  README.zh-TW.md
  docs/COPILOT_HOOKS_PIPELINE_ENFORCEMENT.md
  docs/DEEP_RESEARCH_ARCHITECTURE_ANALYSIS.md
  docs/DEVELOPER_GUIDE.md
  docs/DEVELOPER_GUIDE.zh-TW.md
  docs/PHASE_2.1_TOOL_REFACTOR.md
  docs/PIPELINE_MODE_TUTORIAL.en.md
  docs/PIPELINE_MODE_TUTORIAL.md
  docs/TOOLS_USAGE_GUIDE.md
  docs/TOOLS_USAGE_GUIDE.zh-TW.md
  docs/TOOL_CONSOLIDATION_DESIGN.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE.zh-TW.md
  docs/competitor-analysis.md
  docs/site-content.js
  docs/site-content/architecture.md
  docs/site-content/developer-guide-zh.md
  docs/site-content/developer-guide.md
  docs/site-content/overview-zh.md
  docs/site-content/overview.md
  docs/site-content/pipeline-tutorial-zh.md
  docs/site-content/pipeline-tutorial.md
  docs/site-content/quick-reference.md
  docs/site-content/tools-usage-guide-zh.md
  docs/site-content/tools-usage-guide.md
  docs/site-content/user-guide-zh.md
  docs/site-content/user-guide.md
  src/pubmed_search/presentation/mcp_server/TOOLS_INDEX.md
Due: deptry, tool-count-sync, ddd-layer-imports, evolution-cycle

chore(release): prepare v0.5.12
  CHANGELOG.md
  memory-bank/activeContext.md
  memory-bank/progress.md
  pyproject.toml
  src/pubmed_search/__init__.py
  uv.lock
Due: vulture, deptry, mypy, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner, evolution-cycle

docs: fix docs site i18n and anchors
  docs/USER_GUIDE.md
  docs/USER_GUIDE.zh-TW.md
  docs/site-content.js
  docs/site-content/user-guide-zh.md
  docs/site-content/user-guide.md
  docs/site.js
Due: none

docs: cover timeline images and query memory
  .github/hooks/copilot-tool-policy.json
  CHANGELOG.md
  docs/TOOLS_USAGE_GUIDE.md
  docs/TOOLS_USAGE_GUIDE.zh-TW.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE.zh-TW.md
  docs/site-content.js
  docs/site-content/tools-usage-guide-zh.md
  docs/site-content/tools-usage-guide.md
  docs/site-content/user-guide-zh.md
  docs/site-content/user-guide.md
  pyproject.toml
  src/pubmed_search/__init__.py
  tests/test_agent_docs_alignment.py
  uv.lock
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner, evolution-cycle

docs: align pico handoff guidance
  docs/COPILOT_HOOKS_PIPELINE_ENFORCEMENT.md
  docs/arxiv-paper/main.tex
  docs/images/pico-clinical-workflow.svg
  src/pubmed_search/presentation/mcp_server/instructions.py
  tests/test_agent_docs_alignment.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner

test: cover institutional diagnosis tool
  tests/test_openurl_tools.py
Due: mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner

chore(release): prepare v0.5.14
  CHANGELOG.md
  pyproject.toml
  src/pubmed_search/__init__.py
  src/pubmed_search/presentation/mcp_server/tools/__init__.py
  uv.lock
Due: vulture, deptry, mypy, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, todo-scanner, evolution-cycle

docs: surface advanced research workflows
  README.md
  README.zh-TW.md
  docs/ADVANCED_RESEARCH_WORKFLOWS.md
  docs/ADVANCED_RESEARCH_WORKFLOWS.zh-TW.md
  docs/site-content.js
  docs/site-content/advanced-workflows-zh.md
  docs/site-content/advanced-workflows.md
  docs/site-content/overview-zh.md
  docs/site-content/overview.md
  docs/site.js
  scripts/build_docs_site.py
  scripts/build_github_wiki.py
  tests/test_docs_site_sync.py
  tests/test_github_wiki_build.py
Due: vulture, mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner

feat: update MCP system prompt with v0.4.3 features + add instruction-drift hook
  .claude/skills/git-precommit/SKILL.md
  .github/copilot-instructions.md
  .instruction_drift_fingerprint
  .pre-commit-config.yaml
  CONTRIBUTING.md
  scripts/hooks/check_evolution_cycle.py
  scripts/hooks/check_file_hygiene.py
  scripts/hooks/check_instruction_drift.py
  src/pubmed_search/presentation/mcp_server/instructions.py
Due: vulture, deptry, mypy, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner, evolution-cycle

feat: add auditable research artifact envelopes
  docs/superpowers/plans/2026-06-05-research-artifact-envelope.md
  docs/superpowers/specs/2026-06-05-research-artifact-envelope-design.md
  src/pubmed_search/application/session/__init__.py
  src/pubmed_search/application/session/artifact_envelope.py
  src/pubmed_search/application/session/manager.py
  src/pubmed_search/presentation/mcp_server/instructions.py
  src/pubmed_search/presentation/mcp_server/tools/artifact_memory.py
  src/pubmed_search/presentation/mcp_server/tools/unified.py
  src/pubmed_search/presentation/mcp_server/tools/unified_formatting.py
  tests/test_research_artifact_envelope.py
  tests/test_session_tools.py
  tests/test_unified_tools.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, no-env-inner-layers, source-counts-guard, todo-scanner

docs: align artifact docs and release notes
  .asset-aware-mcp/assistant-assets.json
  .clinerules/70-pubmed-mcp-tools.md
  .github/agents/research.agent.md
  .github/copilot-instructions.md
  .github/hooks/copilot-tool-policy.json
  .instruction_drift_fingerprint
  CHANGELOG.md
  README.md
  README.zh-TW.md
  docs/ADVANCED_RESEARCH_WORKFLOWS.md
  docs/ADVANCED_RESEARCH_WORKFLOWS.zh-TW.md
  docs/TOOLS_USAGE_GUIDE.md
  docs/TOOLS_USAGE_GUIDE.zh-TW.md
  docs/site-content.js
  docs/site-content/advanced-workflows-zh.md
  docs/site-content/advanced-workflows.md
  docs/site-content/overview-zh.md
  docs/site-content/overview.md
  docs/site-content/tools-usage-guide-zh.md
  docs/site-content/tools-usage-guide.md
  memory-bank/activeContext.md
  memory-bank/decisionLog.md
  memory-bank/progress.md
Due: evolution-cycle

fix: stabilize pipeline listing order
  scripts/perf/import_surface_audit.py
  src/pubmed_search/application/pipeline/store.py
Due: vulture, deptry, mypy, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner

feat: add SDK facade and packaged HTTP CLI
  Dockerfile
  pyproject.toml
  run_server.py
  scripts/setup-ngrok.sh
  scripts/start-copilot-ngrok.sh
  scripts/start-copilot-studio.sh
  src/pubmed_search/__init__.py
  src/pubmed_search/api.py
  src/pubmed_search/application/__init__.py
  src/pubmed_search/application/unified/__init__.py
  src/pubmed_search/application/unified/service.py
  src/pubmed_search/presentation/mcp_server/http_cli.py
  src/pubmed_search/presentation/mcp_server/tools/unified.py
  src/pubmed_search/presentation/mcp_server/tools/unified_runner.py
  tests/test_import_surface.py
  tests/test_package_entrypoints.py
  tests/test_public_api_facade.py
  tests/test_unified_tools.py
  uv.lock
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, no-env-inner-layers, source-counts-guard, todo-scanner, evolution-cycle

docs: align SDK and HTTP CLI contracts
  .clinerules/50-pubmed-project.md
  .clinerules/70-pubmed-mcp-tools.md
  .codex/skills/pubmed-search-mcp-harness/SKILL.md
  .github/copilot-instructions.md
  ARCHITECTURE.md
  CHANGELOG.md
  DEPLOYMENT.md
  README.md
  README.zh-TW.md
  docs/DEVELOPER_GUIDE.md
  docs/DEVELOPER_GUIDE.zh-TW.md
  docs/INTEGRATIONS.md
  docs/PYTHON_SDK_AND_HTTP_CLI_DESIGN.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE.zh-TW.md
  docs/images/copilot-studio-deployment-flow.svg
  docs/images/integration-deployment-workflow.svg
  docs/reports/repo-import-surface-audit-2026-06-05.md
  memory-bank/activeContext.md
  memory-bank/architect.md
  memory-bank/decisionLog.md
  memory-bank/productContext.md
  memory-bank/progress.md
  scripts/build_docs_site.py
Due: vulture, mypy, evolution-cycle

Path conditions:
  vulture: any of: ^(src|scripts)/ and \.py$
  deptry: any of: ^(src/|pyproject\.toml)
  mypy: any of: \.py$
  async-test-checker: any of: ^tests/
  tool-count-sync: any of: ^src/pubmed_search/presentation/mcp_server/
  future-annotations: any of: ^(src|tests)/.*\.py$
  no-print-in-src: any of: ^src/.*\.py$
  ddd-layer-imports: any of: ^src/pubmed_search/
  no-type-ignore-bare: any of: ^(src|tests)/.*\.py$
  docstring-tools: any of: ^src/pubmed_search/presentation/mcp_server/tools/
  no-env-inner-layers: any of: ^src/pubmed_search/(domain|application|shared)/
  source-counts-guard: any of: ^(src/pubmed_search/presentation/mcp_server/tools/unified\.py|tests/test_unified_tools\.py|tests/test_pipeline\.py)$
  todo-scanner: any of: ^(src|tests)/.*\.py$
  evolution-cycle: any of: (\.pre-commit-config\.yaml|copilot-instructions\.md|SKILL\.md|CONTRIBUTING\.md|pyproject\.toml|scripts/hooks/)
