Repository u9401066/pubmed-search-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, no-env-inner-layers, source-counts-guard, todo-scanner, evolution-cycle

Path conditions:
  vulture: any of: ^(src|scripts)/ and \.py$
  deptry: any of: ^(src/|pyproject\.toml)
  mypy: any of: \.py$
  async-test-checker: any of: ^tests/
  tool-count-sync: any of: ^src/pubmed_search/presentation/mcp_server/
  future-annotations: any of: ^(src|tests)/.*\.py$
  no-print-in-src: any of: ^src/.*\.py$
  ddd-layer-imports: any of: ^src/pubmed_search/
  no-type-ignore-bare: any of: ^(src|tests)/.*\.py$
  docstring-tools: any of: ^src/pubmed_search/presentation/mcp_server/tools/
  no-env-inner-layers: any of: ^src/pubmed_search/(domain|application|shared)/
  source-counts-guard: any of: ^(src/pubmed_search/presentation/mcp_server/tools/unified\.py|tests/test_unified_tools\.py|tests/test_pipeline\.py)$
  todo-scanner: any of: ^(src|tests)/.*\.py$
  evolution-cycle: any of: (\.pre-commit-config\.yaml|copilot-instructions\.md|SKILL\.md|CONTRIBUTING\.md|pyproject\.toml|scripts/hooks/)

feat(chronicle): build validated branched timelines
  scripts/export_mermaid_smoke_fixtures.py
  src/pubmed_search/application/chronicle/__init__.py
  src/pubmed_search/application/chronicle/audit.py
  src/pubmed_search/application/chronicle/differ.py
  src/pubmed_search/application/chronicle/mermaid.py
  src/pubmed_search/application/chronicle/narrator.py
  src/pubmed_search/application/chronicle/projectors.py
  src/pubmed_search/application/chronicle/service.py
  src/pubmed_search/application/chronicle/store.py
  src/pubmed_search/application/timeline/timeline_builder.py
  src/pubmed_search/application/visualization/__init__.py
  src/pubmed_search/application/visualization/mermaid.py
  src/pubmed_search/domain/entities/chronicle.py
  src/pubmed_search/domain/entities/research_tree.py
  src/pubmed_search/presentation/mcp_server/tools/chronicle.py
  tests/test_chronicle.py
  tests/test_chronicle_cross_projection_integrity.py
  tests/test_chronicle_mermaid_legacy.py
  tests/test_chronicle_revision_integrity.py
  tests/test_chronicle_semantic_hardening.py
  tests/test_mermaid_ci_contract.py
  tests/test_mermaid_kernel.py
  tests/test_mermaid_smoke_fixtures.py
  tests/test_research_tree.py
  tests/test_timeline_builder.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, no-env-inner-layers, todo-scanner

refactor(citations): centralize discovery graph services
  src/pubmed_search/application/citation_network/__init__.py
  src/pubmed_search/application/citation_network/service.py
  src/pubmed_search/presentation/mcp_server/tools/article_source.py
  src/pubmed_search/presentation/mcp_server/tools/citation_tree.py
  src/pubmed_search/presentation/mcp_server/tools/discovery.py
  tests/test_citation_exporter_runtime.py
  tests/test_citation_network_service.py
  tests/test_citation_tree.py
  tests/test_citation_tree_tools.py
  tests/test_discovery_tools.py
  tests/test_discovery_tools_extended.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, no-env-inner-layers, todo-scanner

refactor(fulltext): move registry and service into application
  src/pubmed_search/application/fulltext/__init__.py
  src/pubmed_search/application/fulltext/registry.py
  src/pubmed_search/application/fulltext/service.py
  src/pubmed_search/infrastructure/sources/fulltext_discovery.py
  src/pubmed_search/infrastructure/sources/fulltext_download.py
  src/pubmed_search/infrastructure/sources/fulltext_extract.py
  src/pubmed_search/infrastructure/sources/fulltext_fetch.py
  src/pubmed_search/infrastructure/sources/fulltext_models.py
  src/pubmed_search/infrastructure/sources/fulltext_registry.py
  src/pubmed_search/infrastructure/sources/fulltext_service.py
  tests/test_fulltext_download.py
  tests/test_fulltext_phases.py
  tests/test_fulltext_registry.py
  tests/test_fulltext_service.py
  tests/test_fulltext_urls.py
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner

fix(fulltext): harden institutional and resolver coverage
  src/pubmed_search/infrastructure/sources/institutional_extract.py
  src/pubmed_search/infrastructure/sources/institutional_fetch.py
  src/pubmed_search/infrastructure/sources/institutional_fulltext.py
  src/pubmed_search/infrastructure/sources/openurl.py
  src/pubmed_search/infrastructure/sources/unpaywall.py
  src/pubmed_search/presentation/mcp_server/tools/openurl.py
  tests/test_institutional_fetch.py
  tests/test_openurl.py
  tests/test_openurl_tools.py
  tests/test_pdf_and_coverage.py
  tests/test_unpaywall.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, todo-scanner

refactor(images): add typed image aggregation
  src/pubmed_search/application/image_search/__init__.py
  src/pubmed_search/application/image_search/advisor.py
  src/pubmed_search/application/image_search/aggregation_kernel.py
  src/pubmed_search/application/image_search/service.py
  src/pubmed_search/application/image_search/source_adapters.py
  src/pubmed_search/domain/entities/image.py
  src/pubmed_search/infrastructure/sources/figure_client.py
  src/pubmed_search/infrastructure/sources/openi.py
  src/pubmed_search/presentation/mcp_server/tools/figure_tools.py
  src/pubmed_search/presentation/mcp_server/tools/image_search.py
  src/pubmed_search/presentation/mcp_server/tools/vision_search.py
  tests/test_figure_client.py
  tests/test_figure_tools.py
  tests/test_fulltext_figure_tool_schemas.py
  tests/test_image_query_advisor.py
  tests/test_image_search.py
  tests/test_image_search_application_boundary.py
  tests/test_vision_search.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, no-env-inner-layers, todo-scanner

refactor(export): harden export and reference verification
  src/pubmed_search/application/export/formats.py
  src/pubmed_search/application/export/links.py
  src/pubmed_search/application/export/notes.py
  src/pubmed_search/application/reference_verification/__init__.py
  src/pubmed_search/application/reference_verification/service.py
  src/pubmed_search/presentation/mcp_server/tools/export.py
  src/pubmed_search/presentation/mcp_server/tools/reference_verification.py
  tests/test_export_tools.py
  tests/test_reference_verification.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, no-env-inner-layers, todo-scanner

refactor(session): persist typed artifacts and search runs
  src/pubmed_search/application/session/__init__.py
  src/pubmed_search/application/session/artifact_envelope.py
  src/pubmed_search/application/session/manager.py
  src/pubmed_search/application/session/registry.py
  src/pubmed_search/presentation/mcp_server/session_tools.py
  src/pubmed_search/presentation/mcp_server/tenancy.py
  src/pubmed_search/presentation/mcp_server/tools/artifact_memory.py
  src/pubmed_search/presentation/mcp_server/tools/search_run_journal.py
  src/pubmed_search/presentation/mcp_server/tools/tool_session.py
  tests/test_research_artifact_envelope.py
  tests/test_search_run_history.py
  tests/test_search_run_journal.py
  tests/test_session.py
  tests/test_session_artifacts.py
  tests/test_session_tools.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, no-env-inner-layers, todo-scanner

refactor(mcp): enforce canonical tool contracts
  src/pubmed_search/presentation/mcp_server/TOOLS_INDEX.md
  src/pubmed_search/presentation/mcp_server/instructions.py
  src/pubmed_search/presentation/mcp_server/prompts.py
  src/pubmed_search/presentation/mcp_server/resources.py
  src/pubmed_search/presentation/mcp_server/server.py
  src/pubmed_search/presentation/mcp_server/tool_contracts.py
  src/pubmed_search/presentation/mcp_server/tool_registry.py
  src/pubmed_search/presentation/mcp_server/tools/__init__.py
  src/pubmed_search/presentation/mcp_server/tools/_common.py
  src/pubmed_search/presentation/mcp_server/tools/tool_input.py
  src/pubmed_search/presentation/mcp_server/tools/tool_response.py
  src/pubmed_search/presentation/mcp_server/tools/tool_runtime.py
  tests/test_mcp_protocol_in_memory.py
  tests/test_mcp_server.py
  tests/test_mcp_tools.py
  tests/test_mcp_tools_extended.py
  tests/test_server_init.py
  tests/test_tool_registry.py
  tests/test_tool_runtime.py
  tests/test_tool_schema_hardening.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, todo-scanner

refactor(api): remove obsolete presentation facades
  src/pubmed_search/api.py
  src/pubmed_search/application/__init__.py
  src/pubmed_search/infrastructure/__init__.py
  src/pubmed_search/presentation/__init__.py
  src/pubmed_search/presentation/api/__init__.py
  src/pubmed_search/presentation/api/server.py
  src/pubmed_search/presentation/mcp_server/copilot_tools.py
  src/pubmed_search/presentation/mcp_server/http_cli.py
  tests/test_container.py
  tests/test_copilot_tools.py
  tests/test_copilot_tools_extended.py
  tests/test_core_tools.py
  tests/test_e2e_workflows.py
  tests/test_integration.py
  tests/test_live_integration_gate.py
  tests/test_package_imports.py
  tests/test_public_api_facade.py
  tests/test_server_modes_and_exports.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner

chore(agent): align harness and quality enforcement
  .clinerules/50-pubmed-project.md
  .clinerules/70-pubmed-mcp-tools.md
  .clinerules/workflows/pubmed-mcp-setup.md
  .env.service.example
  .github/agents/research.agent.md
  .github/copilot-instructions.md
  .github/hooks/copilot-tool-policy.json
  .github/zotero-research-workflow.md
  .instruction_drift_fingerprint
  run_copilot.py
  scripts/check_async_tests.py
  scripts/hooks/check_docstring_tools.py
  scripts/hooks/copilot/hook_runtime.py
  scripts/perf/complexity_scan.py
  tests/benchmarks/test_benchmarks.py
  tests/test_agent_docs_alignment.py
  tests/test_copilot_hook_integration.py
  tests/test_copilot_hook_policy.py
  tests/test_perf.py
Due: vulture, mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner, evolution-cycle

docs(skills): align research workflows
  .claude/skills/pipeline-persistence/SKILL.md
  .claude/skills/pipeline-persistence/references/pipeline-tutorial.md
  .claude/skills/pipeline-persistence/references/pipeline-tutorial.zh-TW.md
  .claude/skills/pubmed-export-citations/SKILL.md
  .claude/skills/pubmed-fulltext-access/SKILL.md
  .claude/skills/pubmed-mcp-tools-reference/SKILL.md
  .claude/skills/pubmed-multi-source-search/SKILL.md
  .claude/skills/pubmed-paper-exploration/SKILL.md
  .claude/skills/pubmed-pico-search/SKILL.md
  .claude/skills/pubmed-quick-search/SKILL.md
  .claude/skills/pubmed-research-chronicle/SKILL.md
  .claude/skills/pubmed-systematic-search/SKILL.md
Due: evolution-cycle

test: align cross-cutting regression coverage
  tests/conftest.py
  tests/fixtures/offline_unified_mcp_server.py
  tests/test_90_percent.py
  tests/test_comprehensive_coverage.py
  tests/test_final_90.py
  tests/test_final_coverage.py
  tests/test_final_push.py
  tests/test_push_to_90.py
  tests/test_python310_datetime_compat.py
  tests/test_reach_90.py
  tests/test_round5_coverage.py
  tests/test_round6_coverage.py
  tests/test_round6_part2.py
  tests/test_target_90_coverage.py
  tests/test_ultra_targeted.py
Due: mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner

docs: update primary user and architecture guides
  ARCHITECTURE.md
  DEPLOYMENT.md
  README.md
  README.zh-TW.md
  ROADMAP.md
  copilot-studio/README.md
  docs/DEVELOPER_GUIDE.md
  docs/DEVELOPER_GUIDE.zh-TW.md
  docs/INTEGRATIONS.md
  docs/SEMANTIC_SCHOLAR_API.md
  docs/SOURCE_CONTRACTS.md
  docs/TOOLS_USAGE_GUIDE.md
  docs/TOOLS_USAGE_GUIDE.zh-TW.md
  docs/TOOL_QUALITY_AUDIT.md
  docs/TOOL_QUALITY_AUDIT.zh-TW.md
  docs/UNIFIED_SEARCH_ARCHITECTURE.md
  docs/UNIFIED_SEARCH_ARCHITECTURE.zh-TW.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE.zh-TW.md
  scripts/build_github_wiki.py
  scripts/count_mcp_tools.py
  tests/test_documentation_integrity.py
  tests/test_github_wiki_build.py
  tests/test_tool_quality_audit_docs.py
  tests/test_unified_search_architecture_docs.py
Due: vulture, mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner

docs: update design and audit references
  docs/ADVANCED_RESEARCH_WORKFLOWS.md
  docs/ADVANCED_RESEARCH_WORKFLOWS.zh-TW.md
  docs/ALGORITHM_INNOVATION_RESEARCH.md
  docs/BIOMCP_ARCHITECTURE_ANALYSIS.md
  docs/COPILOT_HOOKS_PIPELINE_ENFORCEMENT.md
  docs/DEEP_RESEARCH_ARCHITECTURE_ANALYSIS.md
  docs/FULLTEXT_REGISTRY_REFACTOR.md
  docs/MCP_Visual_Data_Retrieval_Spec.md
  docs/PHASE_2.1_TOOL_REFACTOR.md
  docs/PHASE_4_IMAGE_SEARCH.md
  docs/PIPELINE_MODE_TUTORIAL.en.md
  docs/PIPELINE_MODE_TUTORIAL.md
  docs/PIPELINE_PERSISTENCE_DESIGN.md
  docs/PYTHON_SDK_AND_HTTP_CLI_DESIGN.md
  docs/REPO_SEPARATION_PRINCIPLES.md
  docs/RESEARCH_CHRONICLE_REFACTOR_SPEC.md
  docs/TOOL_CONSOLIDATION_DESIGN.md
  docs/arxiv-paper/main.tex
  docs/competitor-analysis.md
  docs/paper-draft.md
  docs/pubmed-search-mcp-improvement-report.md
  docs/reports/repo-hardening-subagent-audit-2026-06-05.md
  docs/reports/repo-import-surface-audit-2026-06-05.md
  docs/reports/research_chronicle_remimazolam_evaluation_report.md
  docs/superpowers/specs/2026-06-05-research-artifact-envelope-design.md
Due: none

docs(site): update source content pages
  docs/site-content/advanced-workflows-zh.md
  docs/site-content/advanced-workflows.md
  docs/site-content/architecture.md
  docs/site-content/biomcp-analysis.md
  docs/site-content/deployment.md
  docs/site-content/developer-guide-zh.md
  docs/site-content/developer-guide.md
  docs/site-content/overview-zh.md
  docs/site-content/overview.md
  docs/site-content/pipeline-tutorial-zh.md
  docs/site-content/pipeline-tutorial.md
  docs/site-content/python-sdk-http-cli-design.md
  docs/site-content/quick-reference.md
  docs/site-content/research-chronicle-rebuild-spec.md
  docs/site-content/semantic-scholar-api.md
  docs/site-content/source-contracts.md
  docs/site-content/tool-quality-audit-zh.md
  docs/site-content/tool-quality-audit.md
  docs/site-content/tools-usage-guide-zh.md
  docs/site-content/tools-usage-guide.md
  docs/site-content/troubleshooting.md
  docs/site-content/unified-search-architecture-zh.md
  docs/site-content/unified-search-architecture.md
  docs/site-content/user-guide-zh.md
  docs/site-content/user-guide.md
Due: none

docs(site): regenerate website shell and diagrams
  docs/images/copilot-studio-deployment-flow.svg
  docs/images/integration-deployment-workflow.svg
  docs/images/pico-clinical-workflow.svg
  docs/images/pipeline-entrypoints-and-dag.svg
  docs/images/search-query-workflow.svg
  docs/images/session-cache-and-http-api.svg
  docs/images/session-pipeline-workflow.svg
  docs/index.html
  docs/site-content.js
  docs/site.css
  docs/site.js
  scripts/build_docs_site.py
  tests/test_docs_site_sync.py
Due: vulture, mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner

docs(memory): synchronize project memory
  memory-bank/activeContext.md
  memory-bank/architect.md
  memory-bank/decisionLog.md
  memory-bank/productContext.md
  memory-bank/progress.md
  memory-bank/projectBrief.md
  memory-bank/systemPatterns.md
Due: none

chore(release): prepare v0.7.0
  CHANGELOG.md
  CITATION.cff
  Dockerfile
  copilot-studio/openapi-schema.yaml
  pyproject.toml
  src/pubmed_search/__init__.py
  uv.lock
Due: vulture, deptry, mypy, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner, evolution-cycle

chore(agent): refresh tool signature fingerprint
  .instruction_drift_fingerprint
Due: none

fix(docs): prevent mobile header and inline code clipping
  docs/site.css
  tests/test_docs_site_sync.py
Due: mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner

fix(security): require explicit browser broker secrets
  CHANGELOG.md
  README.md
  README.zh-TW.md
  docs/INTEGRATIONS.md
  docs/site-content.js
  docs/site-content/overview-zh.md
  docs/site-content/overview.md
  docs/site-content/troubleshooting.md
  memory-bank/activeContext.md
  memory-bank/decisionLog.md
  memory-bank/progress.md
  src/pubmed_search/presentation/browser_fetch_broker.py
  tests/test_browser_fetch_broker_security.py
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner

fix(compat): catch asyncio deadlines on Python 3.10
  CHANGELOG.md
  memory-bank/progress.md
  src/pubmed_search/application/reference_verification/service.py
  tests/test_reference_verification.py
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner

docs(memory): record final v0.7.0 release gate
  memory-bank/activeContext.md
  memory-bank/progress.md
Due: none

fix(pipeline): preserve saved pipeline identity
  src/pubmed_search/presentation/mcp_server/tools/unified_pipeline.py
  tests/test_pipeline_report_save.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, todo-scanner

test(mcp): gate every tool through real transports
  .github/workflows/ci.yml
  tests/fixtures/all_tools_mcp_server.py
  tests/test_all_tools_mcp_acceptance.py
  tests/test_documentation_integrity.py
Due: mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner

docs(mcp): document protocol acceptance gate
  CONTRIBUTING.md
  README.md
  README.zh-TW.md
  docs/DEVELOPER_GUIDE.md
  docs/DEVELOPER_GUIDE.zh-TW.md
  docs/site-content.js
  docs/site-content/developer-guide-zh.md
  docs/site-content/developer-guide.md
  docs/site-content/overview-zh.md
  docs/site-content/overview.md
  memory-bank/activeContext.md
  memory-bank/decisionLog.md
  memory-bank/progress.md
Due: evolution-cycle

chore(release): prepare v0.7.1
  CHANGELOG.md
  CITATION.cff
  Dockerfile
  copilot-studio/openapi-schema.yaml
  pyproject.toml
  src/pubmed_search/__init__.py
  uv.lock
Due: vulture, deptry, mypy, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner, evolution-cycle

docs(memory): record v0.7.1 publication
  memory-bank/activeContext.md
  memory-bank/progress.md
Due: none

docs(research): survey academic retrieval repositories
  docs/reference-repositories/README.md
  docs/reference-repositories/candidates.md
  docs/reference-repositories/recommended-direction.md
  docs/reference-repositories/reports/01-cyanheads-pubmed-mcp-server.md
  docs/reference-repositories/reports/02-cyanheads-openalex-mcp-server.md
  docs/reference-repositories/reports/03-carsten-streb-openalex-mcp.md
  docs/reference-repositories/reports/04-blazickjp-arxiv-mcp-server.md
  docs/reference-repositories/reports/05-genomoncology-biomcp.md
  docs/reference-repositories/reports/06-asreview.md
  docs/reference-repositories/reports/07-openalex-guts.md
  docs/reference-repositories/reports/08-opencitations-oc-meta.md
  docs/reference-repositories/reports/09-paper-qa.md
  docs/reference-repositories/reports/10-local-citation-network.md
Due: none

docs(readme): link academic repository landscape
  README.md
  README.zh-TW.md
  docs/site-content.js
  docs/site-content/overview-zh.md
  docs/site-content/overview.md
Due: none

fix(search): correct lexical ranking, fusion, and article identity
  src/pubmed_search/application/pipeline/executor.py
  src/pubmed_search/application/search/ranking_algorithms.py
  src/pubmed_search/application/search/result_aggregator.py
  src/pubmed_search/domain/entities/article.py
  src/pubmed_search/shared/article_identity.py
  tests/test_ranking_algorithms.py
  tests/test_retrieval_quality_regressions.py
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner

feat(eval): add reproducible retrieval and paired agent benchmarks
  scripts/benchmark_agent_harness.py
  scripts/benchmark_agent_server.py
  scripts/benchmark_product_harness.py
  scripts/benchmark_retrieval.py
  src/pubmed_search/application/search/agent_benchmark.py
  src/pubmed_search/application/search/retrieval_metrics.py
  src/pubmed_search/infrastructure/evaluation/__init__.py
  src/pubmed_search/infrastructure/evaluation/checkpoints.py
  src/pubmed_search/infrastructure/evaluation/corpus.py
  src/pubmed_search/infrastructure/evaluation/provenance.py
  tests/test_agent_benchmark.py
  tests/test_benchmark_retrieval.py
  tests/test_product_benchmark.py
  tests/test_product_benchmark_checkpointing.py
  tests/test_retrieval_metrics.py
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner

fix(research): verify citation identity and preserve concurrent retrieval
  docs/TOOLS_USAGE_GUIDE.md
  docs/TOOLS_USAGE_GUIDE.zh-TW.md
  docs/site-content.js
  docs/site-content/tools-usage-guide-zh.md
  docs/site-content/tools-usage-guide.md
  src/pubmed_search/application/fulltext/service.py
  src/pubmed_search/application/reference_verification/service.py
  src/pubmed_search/shared/cache_substrate.py
  tests/test_research_reliability.py
  tests/test_retrieval_quality_regressions.py
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner

docs(eval): record measured results and reliability audit
  CHANGELOG.md
  docs/ACADEMIC_RETRIEVAL_BENCHMARKS.md
  docs/REPOSITORY_RELIABILITY_AUDIT.md
  docs/reports/academic_retrieval_benchmark_2026-09-09.json
  docs/reports/frozen_agent_diagnostic_2026-09-09.json
  docs/reports/native_codex_product_benchmark_2026-09-09.json
  docs/reports/papersearchqa_full_manifest_2026-09-09.json
  docs/reports/papersearchqa_full_preflight_2026-09-09.json
  docs/reports/repository_reliability_audit_2026-09-09.json
Due: none

fix(eval): support strict server contracts in frozen corpus adapter
  scripts/benchmark_agent_server.py
Due: vulture, mypy

docs: publish evaluation and reliability guides across README and website
  README.md
  README.zh-TW.md
  docs/index.html
  docs/reports/papersearchqa_v072_preflight_2026-09-09.json
  docs/site-content.js
  docs/site-content/academic-retrieval-benchmarks.md
  docs/site-content/overview-zh.md
  docs/site-content/overview.md
  docs/site-content/repository-reliability-audit.md
  docs/site.js
  scripts/build_docs_site.py
  scripts/build_github_wiki.py
  tests/test_docs_site_sync.py
  tests/test_github_wiki_build.py
Due: vulture, mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner

docs(memory): record release integration and evaluation boundaries
  memory-bank/activeContext.md
  memory-bank/decisionLog.md
  memory-bank/productContext.md
  memory-bank/progress.md
Due: none

chore(release): prepare v0.7.2
  CHANGELOG.md
  CITATION.cff
  Dockerfile
  copilot-studio/openapi-schema.yaml
  pyproject.toml
  src/pubmed_search/__init__.py
  uv.lock
Due: vulture, deptry, mypy, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner, evolution-cycle

fix(eval): preserve offline network isolation on Windows
  CHANGELOG.md
  docs/REPOSITORY_RELIABILITY_AUDIT.md
  docs/site-content.js
  docs/site-content/repository-reliability-audit.md
  memory-bank/activeContext.md
  memory-bank/progress.md
  scripts/benchmark_agent_server.py
  tests/test_agent_benchmark.py
Due: vulture, mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner

docs(memory): verify v0.7.2 publication and released artifacts
  docs/reports/release_v072_2026-09-09.json
  memory-bank/activeContext.md
  memory-bank/progress.md
Due: none
