Repository u9401066/pubmed-search-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, no-env-inner-layers, source-counts-guard, todo-scanner, evolution-cycle

vulture:
  name: vulture dead code scan
  entry: uv run vulture src/ scripts/ vulture_whitelist.py --min-confidence 80
  language: system
  pass_filenames: false

deptry:
  name: deptry dependency check
  entry: uv run deptry src/
  language: system
  pass_filenames: false

mypy:
  name: mypy type check (src/)
  entry: uv run mypy src/
  language: system
  pass_filenames: false

async-test-checker:
  name: async/sync test consistency
  entry: uv run python scripts/check_async_tests.py
  language: system
  pass_filenames: false

tool-count-sync:
  name: MCP tool docs sync (auto-fix)
  entry: uv run python scripts/hooks/check_tool_sync.py
  language: system
  pass_filenames: false

future-annotations:
  name: future annotations (auto-fix)
  entry: uv run python scripts/hooks/check_future_annotations.py --fix
  language: system
  pass_filenames: false

no-print-in-src:
  name: no print() in src/
  entry: uv run python scripts/hooks/check_no_print.py
  language: system
  pass_filenames: false

ddd-layer-imports:
  name: DDD layer dependency check
  entry: uv run python scripts/hooks/check_ddd_layers.py
  language: system
  pass_filenames: false

no-type-ignore-bare:
  name: no bare type:ignore
  entry: uv run python scripts/hooks/check_type_ignore.py
  language: system
  pass_filenames: false

docstring-tools:
  name: MCP tool docstrings required
  entry: uv run python scripts/hooks/check_docstring_tools.py
  language: system
  pass_filenames: false

no-env-inner-layers:
  name: no os.environ in domain/application
  entry: uv run python scripts/hooks/check_env_config.py
  language: system
  pass_filenames: false

source-counts-guard:
  name: per-source API count display guard
  entry: uv run python scripts/hooks/check_source_counts.py
  language: system
  pass_filenames: false

todo-scanner:
  name: TODO/FIXME scanner (warn)
  entry: uv run python scripts/hooks/check_todo_scanner.py
  language: system
  pass_filenames: false
  verbose: true

evolution-cycle:
  name: instruction ↔ skill ↔ hook consistency
  entry: uv run python scripts/hooks/check_evolution_cycle.py
  language: system
  pass_filenames: false

build: run full checks locally and preserve installed research skills
  .claude/skills/git-precommit/SKILL.md
  .claude/skills/test-generator/SKILL.md
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  AGENTS.md
  CONTRIBUTING.md
  scripts/check_repo.py
  scripts/hooks/check_evolution_cycle.py
  scripts/install_research_skills.py
  scripts/perf/complexity_scan.py
  scripts/perf/import_surface_audit.py
  scripts/perf/symbol_inventory.py
  tests/test_check_repo.py
  tests/test_complexity_scan.py
  tests/test_documentation_integrity.py
  tests/test_import_surface.py
  tests/test_install_research_skills.py
  tests/test_symbol_inventory.py
Due: vulture, mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner, evolution-cycle

fix(runtime): preserve deadlines cancellation and credential boundaries
  src/pubmed_search/api.py
  src/pubmed_search/container.py
  src/pubmed_search/infrastructure/auth/static_tokens.py
  src/pubmed_search/infrastructure/http/safe_outbound.py
  src/pubmed_search/shared/async_utils.py
  src/pubmed_search/shared/cache_substrate.py
  src/pubmed_search/shared/credential_sanitizer.py
  src/pubmed_search/shared/exceptions.py
  src/pubmed_search/shared/settings.py
  tests/test_async_utils.py
  tests/test_cache_substrate.py
  tests/test_credential_sanitizer.py
  tests/test_exceptions.py
  tests/test_public_api_facade.py
  tests/test_safe_outbound_http.py
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner

fix(domain): preserve article identity metadata and graph serialization
  src/pubmed_search/domain/entities/article.py
  src/pubmed_search/domain/entities/chronicle.py
  src/pubmed_search/domain/entities/research_tree.py
  src/pubmed_search/domain/entities/timeline.py
  src/pubmed_search/domain/services/article_mapper.py
  src/pubmed_search/domain/value_objects/article_identifiers.py
  tests/test_article_extended.py
  tests/test_research_tree.py
  tests/test_unified_article.py
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner

fix(ncbi): validate provider payloads identities and citation responses
  src/pubmed_search/infrastructure/ncbi/base.py
  src/pubmed_search/infrastructure/ncbi/citation.py
  src/pubmed_search/infrastructure/ncbi/citation_exporter.py
  src/pubmed_search/infrastructure/ncbi/icite.py
  src/pubmed_search/infrastructure/ncbi/pdf.py
  src/pubmed_search/infrastructure/ncbi/search.py
  src/pubmed_search/infrastructure/ncbi/strategy.py
  src/pubmed_search/infrastructure/ncbi/utils.py
  src/pubmed_search/infrastructure/pubtator/client.py
  src/pubmed_search/infrastructure/pubtator/models.py
  tests/test_citation_exporter_runtime.py
  tests/test_core_ncbi_extended.py
  tests/test_entrez_modules.py
  tests/test_pdf_and_coverage.py
  tests/test_pubtator_client.py
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner

fix(sources): validate scholarly provider schemas and runtime ownership
  src/pubmed_search/infrastructure/sources/__init__.py
  src/pubmed_search/infrastructure/sources/base_client.py
  src/pubmed_search/infrastructure/sources/clinical_trials.py
  src/pubmed_search/infrastructure/sources/contact.py
  src/pubmed_search/infrastructure/sources/crossref.py
  src/pubmed_search/infrastructure/sources/europe_pmc.py
  src/pubmed_search/infrastructure/sources/ncbi_extended.py
  src/pubmed_search/infrastructure/sources/openalex.py
  src/pubmed_search/infrastructure/sources/preprints.py
  src/pubmed_search/infrastructure/sources/runtime.py
  src/pubmed_search/infrastructure/sources/semantic_scholar.py
  src/pubmed_search/infrastructure/sources/semantic_scholar_datasets.py
  src/pubmed_search/infrastructure/sources/unified_broker.py
  src/pubmed_search/infrastructure/sources/unified_enrichment.py
  src/pubmed_search/infrastructure/sources/unpaywall.py
  src/pubmed_search/infrastructure/sources/web_of_science.py
  tests/test_base_client_response_limits.py
  tests/test_clinical_trials_client.py
  tests/test_crossref_client.py
  tests/test_europe_pmc.py
  tests/test_ncbi_extended.py
  tests/test_openalex.py
  tests/test_preprints.py
  tests/test_preprints_comprehensive.py
  tests/test_semantic_scholar_datasets.py
  tests/test_source_adapter_failure_contracts.py
  tests/test_sources_init.py
  tests/test_unpaywall.py
  tests/test_web_of_science_client.py
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner

fix(fulltext): unify retrieval policy and verify reference evidence
  src/pubmed_search/application/citation_network/service.py
  src/pubmed_search/application/fulltext/registry.py
  src/pubmed_search/application/fulltext/service.py
  src/pubmed_search/application/reference_verification/service.py
  src/pubmed_search/infrastructure/sources/core.py
  src/pubmed_search/infrastructure/sources/figure_client.py
  src/pubmed_search/infrastructure/sources/fulltext_discovery.py
  src/pubmed_search/infrastructure/sources/fulltext_download.py
  src/pubmed_search/infrastructure/sources/fulltext_extract.py
  src/pubmed_search/infrastructure/sources/fulltext_fetch.py
  src/pubmed_search/infrastructure/sources/institutional_extract.py
  src/pubmed_search/infrastructure/sources/institutional_fetch.py
  tests/test_figure_client.py
  tests/test_fulltext_download.py
  tests/test_fulltext_phases.py
  tests/test_fulltext_registry.py
  tests/test_fulltext_service.py
  tests/test_institutional_fetch.py
  tests/test_reference_verification.py
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner

fix(search): keep ranking provenance and failed sources consistent
  src/pubmed_search/application/search/agent_benchmark.py
  src/pubmed_search/application/search/query_analyzer.py
  src/pubmed_search/application/search/query_materials.py
  src/pubmed_search/application/search/query_validator.py
  src/pubmed_search/application/search/ranking_algorithms.py
  src/pubmed_search/application/search/reproducibility.py
  src/pubmed_search/application/search/result_aggregator.py
  src/pubmed_search/application/search/semantic_enhancer.py
  src/pubmed_search/application/search/source_models.py
  src/pubmed_search/application/unified/clinical_trials.py
  src/pubmed_search/application/unified/execution.py
  src/pubmed_search/application/unified/helpers.py
  src/pubmed_search/application/unified/planning.py
  src/pubmed_search/application/unified/request.py
  tests/test_result_aggregator.py
  tests/test_retrieval_quality_regressions.py
  tests/test_search_query_provenance.py
  tests/test_source_search_pages.py
  tests/test_unified_deep_execution.py
  tests/test_unified_provider_modes.py
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner

fix(persistence): make pipeline replay and session artifacts reliable
  src/pubmed_search/application/pipeline/budgets.py
  src/pubmed_search/application/pipeline/executor.py
  src/pubmed_search/application/pipeline/report_generator.py
  src/pubmed_search/application/pipeline/runner.py
  src/pubmed_search/application/pipeline/store.py
  src/pubmed_search/application/pipeline/templates.py
  src/pubmed_search/application/pipeline/validator.py
  src/pubmed_search/application/session/artifact_envelope.py
  src/pubmed_search/application/session/artifacts.py
  src/pubmed_search/application/session/manager.py
  src/pubmed_search/infrastructure/cache/entity_cache.py
  src/pubmed_search/infrastructure/scheduling/pipeline_scheduler.py
  tests/test_pipeline.py
  tests/test_pipeline_integrity.py
  tests/test_pipeline_report.py
  tests/test_pipeline_scheduler.py
  tests/test_research_artifact_envelope.py
  tests/test_session.py
  tests/test_session_artifacts.py
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, source-counts-guard, todo-scanner

fix(research): consolidate timelines chronicle and citation exports
  src/pubmed_search/application/chronicle/analytics.py
  src/pubmed_search/application/chronicle/assembler.py
  src/pubmed_search/application/chronicle/audit.py
  src/pubmed_search/application/chronicle/differ.py
  src/pubmed_search/application/chronicle/lineage.py
  src/pubmed_search/application/chronicle/mermaid.py
  src/pubmed_search/application/chronicle/store.py
  src/pubmed_search/application/export/formats.py
  src/pubmed_search/application/export/links.py
  src/pubmed_search/application/export/notes.py
  src/pubmed_search/application/timeline/dates.py
  src/pubmed_search/application/timeline/landmark_scorer.py
  src/pubmed_search/application/timeline/milestone_detector.py
  src/pubmed_search/application/timeline/milestone_policy.py
  src/pubmed_search/application/timeline/timeline_builder.py
  tests/test_chronicle.py
  tests/test_chronicle_mermaid_repairs_extra.py
  tests/test_chronicle_revision_integrity.py
  tests/test_chronicle_semantic_hardening.py
  tests/test_exports.py
  tests/test_landmark_scorer.py
  tests/test_milestone_detector.py
  tests/test_timeline_builder.py
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner

fix(transport): bound browser access and native MCP failures
  src/pubmed_search/application/image_search/advisor.py
  src/pubmed_search/application/image_search/advisor_scorer.py
  src/pubmed_search/application/image_search/service.py
  src/pubmed_search/infrastructure/sources/browser_session.py
  src/pubmed_search/infrastructure/sources/clinicalkey_ai.py
  src/pubmed_search/presentation/browser_fetch_broker.py
  src/pubmed_search/presentation/mcp_server/http_compat.py
  src/pubmed_search/presentation/mcp_server/http_security.py
  src/pubmed_search/presentation/mcp_server/server.py
  src/pubmed_search/presentation/mcp_server/tool_contracts.py
  tests/test_browser_fetch_broker_security.py
  tests/test_browser_session.py
  tests/test_clinicalkey_ai.py
  tests/test_http_compat.py
  tests/test_image_search.py
  tests/test_mcp_protocol_in_memory.py
  tests/test_multi_tenant_deployment.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner

fix(mcp): align tool outputs and share application policies
  .instruction_drift_fingerprint
  src/pubmed_search/presentation/mcp_server/instructions.py
  src/pubmed_search/presentation/mcp_server/prompts.py
  src/pubmed_search/presentation/mcp_server/resources.py
  src/pubmed_search/presentation/mcp_server/tools/agent_output.py
  src/pubmed_search/presentation/mcp_server/tools/chronicle.py
  src/pubmed_search/presentation/mcp_server/tools/citation_tree.py
  src/pubmed_search/presentation/mcp_server/tools/discovery.py
  src/pubmed_search/presentation/mcp_server/tools/europe_pmc.py
  src/pubmed_search/presentation/mcp_server/tools/export.py
  src/pubmed_search/presentation/mcp_server/tools/figure_tools.py
  src/pubmed_search/presentation/mcp_server/tools/image_search.py
  src/pubmed_search/presentation/mcp_server/tools/openurl.py
  src/pubmed_search/presentation/mcp_server/tools/pipeline_tools.py
  src/pubmed_search/presentation/mcp_server/tools/search_run_journal.py
  src/pubmed_search/presentation/mcp_server/tools/strategy.py
  src/pubmed_search/presentation/mcp_server/tools/tool_response.py
  src/pubmed_search/presentation/mcp_server/tools/unified.py
  src/pubmed_search/presentation/mcp_server/tools/unified_formatting.py
  src/pubmed_search/presentation/mcp_server/tools/unified_pipeline.py
  src/pubmed_search/presentation/mcp_server/tools/vision_search.py
  tests/test_pipeline_tools.py
  tests/test_strategy_tools.py
  tests/test_unified_pipeline_recovery.py
  tests/test_unified_tools.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, source-counts-guard, todo-scanner

test(mcp): retain meaningful tool coverage and remove declaration mirrors
  tests/fixtures/all_tools_mcp_server.py
  tests/test_90_percent.py
  tests/test_all_tools_mcp_acceptance.py
  tests/test_citation_tree_tools.py
  tests/test_copilot_tools.py
  tests/test_discovery_tools.py
  tests/test_discovery_tools_extended.py
  tests/test_export_tools.py
  tests/test_figure_tools.py
  tests/test_final_coverage.py
  tests/test_openurl_tools.py
  tests/test_push_to_90.py
  tests/test_round5_coverage.py
  tests/test_round6_coverage.py
  tests/test_round6_part2.py
  tests/test_search_and_discovery.py
  tests/test_target_90_coverage.py
  tests/test_tool_registry.py
  tests/test_tool_schema_hardening.py
  tests/test_unified_agent_smoke.py
  tests/test_utils_and_coverage.py
Due: mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner

fix(eval): validate frozen adapters and durable benchmark checkpoints
  scripts/benchmark_agent_harness.py
  src/pubmed_search/infrastructure/evaluation/checkpoints.py
  src/pubmed_search/infrastructure/evaluation/corpus.py
  src/pubmed_search/infrastructure/evaluation/provenance.py
  tests/test_agent_benchmark.py
  tests/test_product_benchmark_checkpointing.py
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner

docs(harness): align client guidance with preserved user configuration
  .claude/skills/pubmed-export-citations/SKILL.md
  .clinerules/00-project.md
  .clinerules/00-zotero-project.md
  .clinerules/10-python.md
  .clinerules/10-zotero-python.md
  .clinerules/35-foam-llm-wiki.md
  .clinerules/40-release.md
  .clinerules/workflows/full-check.md
  .clinerules/workflows/pubmed-full-check.md
  .codex/skills/pubmed-search-mcp-harness/SKILL.md
  .github/agents/research.agent.md
Due: evolution-cycle

docs: publish complete core review evidence and updated user guides
  README.md
  README.zh-TW.md
  docs/ACADEMIC_RETRIEVAL_BENCHMARKS.md
  docs/FULLTEXT_REGISTRY_REFACTOR.md
  docs/INTEGRATIONS.md
  docs/TOOLS_USAGE_GUIDE.md
  docs/TOOLS_USAGE_GUIDE.zh-TW.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE.zh-TW.md
  docs/index.html
  docs/reports/code_review_ledger.json
  docs/reports/core_review_2026-09-15.md
  docs/reports/maintenance_audit_2026-09-15.md
  docs/reports/renovation_plan_2026-09-15.md
  docs/site-content.js
  docs/site-content/academic-retrieval-benchmarks.md
  docs/site-content/overview-zh.md
  docs/site-content/overview.md
  docs/site-content/tools-usage-guide-zh.md
  docs/site-content/tools-usage-guide.md
  docs/site-content/troubleshooting.md
  docs/site-content/user-guide-zh.md
  docs/site-content/user-guide.md
  memory-bank/activeContext.md
  memory-bank/progress.md
Due: none

chore(release): prepare v0.7.3
  CHANGELOG.md
  CITATION.cff
  Dockerfile
  copilot-studio/openapi-schema.yaml
  pyproject.toml
  src/pubmed_search/__init__.py
  tests/test_docs_site_sync.py
  uv.lock
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner, evolution-cycle

docs(memory): verify v0.7.3 publication and released artifacts
  docs/reports/release_v073_2026-09-15.json
  memory-bank/activeContext.md
  memory-bank/progress.md
Due: none

fix(search): schedule ready work within shared upstream limits
  src/pubmed_search/application/pipeline/executor.py
  src/pubmed_search/application/pipeline/scheduling.py
  src/pubmed_search/infrastructure/ncbi/base.py
  src/pubmed_search/infrastructure/sources/base_client.py
  src/pubmed_search/shared/async_utils.py
  tests/test_async_utils.py
  tests/test_entrez_runtime_isolation.py
  tests/test_search_scheduling.py
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner

perf(search): record reproducible offline scheduling comparison
  docs/reports/README.md
  docs/reports/core_review_2026-09-15.md
  docs/reports/maintenance_audit_2026-09-15.md
  docs/reports/release_v074_2026-09-18.md
  docs/reports/search_execution_2026-09-18.md
  docs/reports/search_execution_2026-09-18_after.json
  docs/reports/search_execution_2026-09-18_before.json
  scripts/perf/search_execution.py
Due: vulture, mypy

docs: organize current guides and archive historical phase plans
  docs/PHASE_2.1_TOOL_REFACTOR.md
  docs/PHASE_3_PUBTATOR_EUTILS.md
  docs/PHASE_4_IMAGE_SEARCH.md
  docs/README.md
  docs/archive/README.md
  docs/archive/phases/PHASE_2.1_TOOL_REFACTOR.md
  docs/archive/phases/PHASE_3_PUBTATOR_EUTILS.md
  docs/archive/phases/PHASE_4_IMAGE_SEARCH.md
  docs/site-content/documentation-map.md
  docs/site.js
  scripts/README.md
  scripts/build_docs_site.py
  tests/test_docs_site_sync.py
  tests/test_documentation_integrity.py
Due: vulture, mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner

docs: explain provider safeguards and synchronize site and memory
  ARCHITECTURE.md
  README.md
  README.zh-TW.md
  docs/SOURCE_CONTRACTS.md
  docs/UNIFIED_SEARCH_ARCHITECTURE.md
  docs/UNIFIED_SEARCH_ARCHITECTURE.zh-TW.md
  docs/site-content.js
  docs/site-content/architecture.md
  docs/site-content/overview-zh.md
  docs/site-content/overview.md
  docs/site-content/source-contracts.md
  docs/site-content/unified-search-architecture-zh.md
  docs/site-content/unified-search-architecture.md
  memory-bank/activeContext.md
  memory-bank/progress.md
Due: none

chore(release): prepare v0.7.4
  CHANGELOG.md
  CITATION.cff
  Dockerfile
  copilot-studio/openapi-schema.yaml
  docs/index.html
  docs/reports/code_review_ledger.json
  pyproject.toml
  src/pubmed_search/__init__.py
  uv.lock
Due: vulture, deptry, mypy, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner, evolution-cycle

docs(release): record verified v0.7.4 publication
  docs/reports/README.md
  docs/reports/release_v074_2026-09-18.json
  docs/reports/release_v074_2026-09-18.md
  memory-bank/activeContext.md
  memory-bank/progress.md
Due: none

docs(guides): organize user workflows and client setup
  docs/guides/ADVANCED_RESEARCH_WORKFLOWS.md
  docs/guides/ADVANCED_RESEARCH_WORKFLOWS.zh-TW.md
  docs/guides/INTEGRATIONS.md
  docs/guides/PIPELINE_MODE_TUTORIAL.en.md
  docs/guides/PIPELINE_MODE_TUTORIAL.md
  docs/guides/TOOLS_USAGE_GUIDE.md
  docs/guides/TOOLS_USAGE_GUIDE.zh-TW.md
  docs/guides/USER_GUIDE.md
  docs/guides/USER_GUIDE.zh-TW.md
Due: none

docs(architecture): classify developer and provider contracts
  docs/IMAGE_SEARCH_API.md
  docs/UNIFIED_SEARCH_ARCHITECTURE.md
  docs/UNIFIED_SEARCH_ARCHITECTURE.zh-TW.md
  docs/architecture/SOURCE_CONTRACTS.md
  docs/architecture/TOOL_CONSOLIDATION_DESIGN.md
  docs/architecture/UNIFIED_SEARCH_ARCHITECTURE.md
  docs/architecture/UNIFIED_SEARCH_ARCHITECTURE.zh-TW.md
  docs/development/COPILOT_HOOKS_PIPELINE_ENFORCEMENT.md
  docs/development/DEVELOPER_GUIDE.md
  docs/development/DEVELOPER_GUIDE.zh-TW.md
  docs/development/REPO_SEPARATION_PRINCIPLES.md
  docs/providers/CLINICALKEY_AI_INTEGRATION.md
  docs/providers/IMAGE_SEARCH_API.md
  docs/providers/OPENALEX_API.md
  docs/providers/SEMANTIC_SCHOLAR_API.md
Due: none

docs(research): separate designs and historical evidence
  docs/archive/design/MCP_Visual_Data_Retrieval_Spec.md
  docs/archive/design/PIPELINE_PERSISTENCE_DESIGN.md
  docs/archive/research/ALGORITHM_INNOVATION_RESEARCH.md
  docs/archive/research/COMPARISON_paper-search-mcp.md
  docs/archive/research/DEEP_RESEARCH_ARCHITECTURE_ANALYSIS.md
  docs/archive/research/competitor-analysis.md
  docs/design/FULLTEXT_REGISTRY_REFACTOR.md
  docs/design/PYTHON_SDK_AND_HTTP_CLI_DESIGN.md
  docs/design/RESEARCH_CHRONICLE_REFACTOR_SPEC.md
  docs/reports/search_payload_incident_2026-05-14.md
  docs/research/ACADEMIC_RETRIEVAL_BENCHMARKS.md
  docs/research/BIOMCP_ARCHITECTURE_ANALYSIS.md
  docs/research/REPOSITORY_RELIABILITY_AUDIT.md
  docs/research/TOOL_QUALITY_AUDIT.md
  docs/research/TOOL_QUALITY_AUDIT.zh-TW.md
Due: none

docs(publication): replace the manuscript with verified evidence and citations
  CITATION.cff
  docs/archive/publication/README.md
  docs/archive/publication/main.pdf
  docs/archive/publication/main.tex
  docs/archive/publication/originals.json
  docs/archive/publication/paper-draft_2026-01-28.md
  docs/archive/publication/references.bib
  docs/arxiv-paper/.gitignore
  docs/arxiv-paper/README.md
  docs/document-migrations.json
  docs/paper-draft.md
  docs/publication/README.md
  docs/publication/evaluation-protocol.md
  docs/publication/evidence.json
  docs/publication/evidence.md
  docs/publication/main.tex
  docs/publication/references-review.md
  docs/publication/references.bib
  docs/repository-layout.json
  scripts/build_publication.py
  scripts/check_repo.py
  scripts/check_repository_layout.py
  tests/test_maintenance_artifact_contracts.py
Due: vulture, mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner

docs(navigation): align canonical links and generated tool references
  .claude/skills/pubmed-mcp-tools-reference/SKILL.md
  AGENTS.md
  ARCHITECTURE.md
  CONTRIBUTING.md
  DEPLOYMENT.md
  README.md
  README.zh-TW.md
  ROADMAP.md
  copilot-studio/README.md
  docs/PHASE_2.1_TOOL_REFACTOR.md
  docs/PHASE_3_PUBTATOR_EUTILS.md
  docs/PHASE_4_IMAGE_SEARCH.md
  docs/README.md
  docs/archive/README.md
  docs/archive/phases/PHASE_3_PUBTATOR_EUTILS.md
  docs/archive/phases/PHASE_4_IMAGE_SEARCH.md
  docs/reference-repositories/README.md
  docs/reference-repositories/recommended-direction.md
  docs/reports/research_chronicle_remimazolam_evaluation_report.md
  scripts/README.md
  scripts/count_mcp_tools.py
  src/pubmed_search/presentation/mcp_server/TOOLS_INDEX.md
Due: vulture, deptry, mypy, tool-count-sync, ddd-layer-imports, evolution-cycle

docs(site): update document generators and client references
  .claude/skills/pipeline-persistence/references/pipeline-tutorial.md
  .claude/skills/pipeline-persistence/references/pipeline-tutorial.zh-TW.md
  .claude/skills/pubmed-export-citations/SKILL.md
  .clinerules/35-foam-llm-wiki.md
  .codex/skills/pubmed-search-mcp-harness/SKILL.md
  .github/agents/research.agent.md
  .github/copilot-instructions.md
  docs/index.html
  docs/site.js
  scripts/build_docs_site.py
  scripts/build_github_wiki.py
  tests/test_agent_docs_alignment.py
  tests/test_docs_site_sync.py
  tests/test_documentation_integrity.py
  tests/test_github_wiki_build.py
  tests/test_tool_quality_audit_docs.py
  tests/test_unified_search_architecture_docs.py
Due: vulture, mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner, evolution-cycle

docs(site): regenerate guide and architecture pages
  docs/site-content/academic-retrieval-benchmarks.md
  docs/site-content/advanced-workflows-zh.md
  docs/site-content/advanced-workflows.md
  docs/site-content/architecture.md
  docs/site-content/biomcp-analysis.md
  docs/site-content/clinicalkey-ai.md
  docs/site-content/deployment.md
  docs/site-content/developer-guide-zh.md
  docs/site-content/developer-guide.md
  docs/site-content/documentation-map.md
  docs/site-content/openalex-api.md
  docs/site-content/overview-zh.md
  docs/site-content/overview.md
  docs/site-content/pipeline-tutorial-zh.md
  docs/site-content/pipeline-tutorial.md
  docs/site-content/python-sdk-http-cli-design.md
  docs/site-content/quick-reference.md
  docs/site-content/repository-reliability-audit.md
  docs/site-content/research-chronicle-rebuild-spec.md
  docs/site-content/semantic-scholar-api.md
Due: none

docs(maintenance): record repository and publication verification
  CHANGELOG.md
  docs/reports/README.md
  docs/reports/repository_publication_overhaul_2026-09-21.md
  memory-bank/activeContext.md
  memory-bank/progress.md
Due: none

docs(site): refresh publication navigation and embedded content
  docs/site-content.js
  docs/site-content/publication.md
  docs/site-content/source-contracts.md
  docs/site-content/tool-quality-audit-zh.md
  docs/site-content/tool-quality-audit.md
  docs/site-content/tools-usage-guide-zh.md
  docs/site-content/tools-usage-guide.md
  docs/site-content/troubleshooting.md
  docs/site-content/unified-search-architecture-zh.md
  docs/site-content/unified-search-architecture.md
  docs/site-content/user-guide-zh.md
  docs/site-content/user-guide.md
Due: none

fix(mcp): normalize shared inputs and expose repairable validation errors
  .claude/skills/pubmed-mcp-tools-reference/SKILL.md
  scripts/check_repo.py
  scripts/count_mcp_tools.py
  src/pubmed_search/domain/value_objects/article_identifiers.py
  src/pubmed_search/presentation/mcp_server/TOOLS_INDEX.md
  src/pubmed_search/presentation/mcp_server/input_contract.py
  src/pubmed_search/presentation/mcp_server/session_tools.py
  src/pubmed_search/presentation/mcp_server/tool_contracts.py
  src/pubmed_search/presentation/mcp_server/tools/article_source.py
  src/pubmed_search/presentation/mcp_server/tools/chronicle.py
  src/pubmed_search/presentation/mcp_server/tools/citation_tree.py
  src/pubmed_search/presentation/mcp_server/tools/discovery.py
  src/pubmed_search/presentation/mcp_server/tools/export.py
  src/pubmed_search/presentation/mcp_server/tools/ncbi_extended.py
  src/pubmed_search/presentation/mcp_server/tools/openurl.py
  src/pubmed_search/presentation/mcp_server/tools/tool_input.py
  tests/fixtures/all_tools_mcp_server.py
  tests/test_agent_input_contract.py
  tests/test_all_tools_mcp_acceptance.py
  tests/test_check_repo.py
  tests/test_chronicle.py
  tests/test_europe_pmc_tools_extended.py
  tests/test_export_tools.py
  tests/test_figure_tools.py
  tests/test_fulltext_figure_tool_schemas.py
  tests/test_input_normalizer.py
  tests/test_mcp_protocol_in_memory.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, no-env-inner-layers, todo-scanner, evolution-cycle

docs(mcp): document automatic correction and release review
  .claude/skills/pubmed-export-citations/SKILL.md
  .clinerules/70-pubmed-mcp-tools.md
  .github/copilot-instructions.md
  CONTRIBUTING.md
  README.md
  README.zh-TW.md
  docs/README.md
  docs/design/AGENT_INPUT_CONTRACT.md
  docs/development/DEVELOPER_GUIDE.md
  docs/development/DEVELOPER_GUIDE.zh-TW.md
  docs/guides/TOOLS_USAGE_GUIDE.md
  docs/guides/TOOLS_USAGE_GUIDE.zh-TW.md
  docs/reports/README.md
  docs/reports/release_v075_2026-10-01.md
  src/pubmed_search/presentation/mcp_server/instructions.py
Due: vulture, deptry, mypy, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner, evolution-cycle

docs(site): refresh input guides and release memory
  docs/index.html
  docs/site-content.js
  docs/site-content/developer-guide-zh.md
  docs/site-content/developer-guide.md
  docs/site-content/documentation-map.md
  docs/site-content/overview-zh.md
  docs/site-content/overview.md
  docs/site-content/quick-reference.md
  docs/site-content/tools-usage-guide-zh.md
  docs/site-content/tools-usage-guide.md
  memory-bank/activeContext.md
  memory-bank/architect.md
  memory-bank/decisionLog.md
  memory-bank/progress.md
Due: none

chore(release): prepare v0.7.5
  CHANGELOG.md
  CITATION.cff
  Dockerfile
  copilot-studio/openapi-schema.yaml
  pyproject.toml
  src/pubmed_search/__init__.py
  uv.lock
Due: vulture, deptry, mypy, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner, evolution-cycle

docs(release): record verified v0.7.5 publication
  docs/design/AGENT_INPUT_CONTRACT.md
  docs/reports/README.md
  docs/reports/release_v075_2026-10-01.json
  docs/reports/release_v075_2026-10-01.md
  memory-bank/activeContext.md
  memory-bank/progress.md
Due: none

feat(fulltext): add bounded XML prefetch and shared demand retrieval
  .instruction_drift_fingerprint
  scripts/check_repo.py
  src/pubmed_search/application/fulltext/cache.py
  src/pubmed_search/application/fulltext/service.py
  src/pubmed_search/application/session/artifact_envelope.py
  src/pubmed_search/application/session/manager.py
  src/pubmed_search/application/unified/request.py
  src/pubmed_search/application/unified/use_case.py
  src/pubmed_search/infrastructure/sources/fulltext_prefetch.py
  src/pubmed_search/presentation/mcp_server/TOOLS_INDEX.md
  src/pubmed_search/presentation/mcp_server/server.py
  src/pubmed_search/presentation/mcp_server/tools/europe_pmc.py
  src/pubmed_search/presentation/mcp_server/tools/fulltext_runtime.py
  src/pubmed_search/presentation/mcp_server/tools/tool_session.py
  src/pubmed_search/presentation/mcp_server/tools/unified.py
  src/pubmed_search/presentation/mcp_server/tools/unified_formatting.py
  src/pubmed_search/presentation/mcp_server/tools/unified_runner.py
  src/pubmed_search/shared/settings.py
  tests/fixtures/all_tools_mcp_server.py
  tests/test_all_tools_mcp_acceptance.py
  tests/test_fulltext_prefetch.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, no-env-inner-layers, source-counts-guard, todo-scanner

docs(fulltext): explain prefetch tradeoffs and publish offline evidence
  .claude/skills/pubmed-fulltext-access/SKILL.md
  .clinerules/70-pubmed-mcp-tools.md
  .github/agents/research.agent.md
  .github/copilot-instructions.md
  CHANGELOG.md
  README.md
  README.zh-TW.md
  docs/README.md
  docs/design/FULLTEXT_PREFETCH.md
  docs/guides/INTEGRATIONS.md
  docs/guides/TOOLS_USAGE_GUIDE.md
  docs/guides/TOOLS_USAGE_GUIDE.zh-TW.md
  docs/reports/README.md
  docs/reports/fulltext_prefetch_2026-10-01.json
  docs/site-content.js
  docs/site-content/documentation-map.md
  docs/site-content/overview-zh.md
  docs/site-content/overview.md
  docs/site-content/quick-reference.md
  docs/site-content/tools-usage-guide-zh.md
  docs/site-content/tools-usage-guide.md
  docs/site-content/troubleshooting.md
  scripts/README.md
  scripts/perf/fulltext_prefetch.py
  src/pubmed_search/presentation/mcp_server/instructions.py
Due: vulture, deptry, mypy, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner, evolution-cycle

docs(memory): record bounded fulltext decision and validation
  memory-bank/activeContext.md
  memory-bank/architect.md
  memory-bank/decisionLog.md
  memory-bank/progress.md
Due: none

Path conditions:
  vulture: any of: ^(src|scripts)/ and \.py$
  deptry: any of: ^(src/|pyproject\.toml)
  mypy: any of: \.py$
  async-test-checker: any of: ^tests/
  tool-count-sync: any of: ^src/pubmed_search/presentation/mcp_server/
  future-annotations: any of: ^(src|tests)/.*\.py$
  no-print-in-src: any of: ^src/.*\.py$
  ddd-layer-imports: any of: ^src/pubmed_search/
  no-type-ignore-bare: any of: ^(src|tests)/.*\.py$
  docstring-tools: any of: ^src/pubmed_search/presentation/mcp_server/tools/
  no-env-inner-layers: any of: ^src/pubmed_search/(domain|application|shared)/
  source-counts-guard: any of: ^(src/pubmed_search/presentation/mcp_server/tools/unified\.py|tests/test_unified_tools\.py|tests/test_pipeline\.py)$
  todo-scanner: any of: ^(src|tests)/.*\.py$
  evolution-cycle: any of: (\.pre-commit-config\.yaml|copilot-instructions\.md|SKILL\.md|CONTRIBUTING\.md|pyproject\.toml|scripts/hooks/)
