Repository u9401066/pubmed-search-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, no-env-inner-layers, source-counts-guard, todo-scanner, evolution-cycle

Path conditions:
  vulture: any of: ^(src|scripts)/ and \.py$
  deptry: any of: ^(src/|pyproject\.toml)
  mypy: any of: \.py$
  async-test-checker: any of: ^tests/
  tool-count-sync: any of: ^src/pubmed_search/presentation/mcp_server/
  future-annotations: any of: ^(src|tests)/.*\.py$
  no-print-in-src: any of: ^src/.*\.py$
  ddd-layer-imports: any of: ^src/pubmed_search/
  no-type-ignore-bare: any of: ^(src|tests)/.*\.py$
  docstring-tools: any of: ^src/pubmed_search/presentation/mcp_server/tools/
  no-env-inner-layers: any of: ^src/pubmed_search/(domain|application|shared)/
  source-counts-guard: any of: ^(src/pubmed_search/presentation/mcp_server/tools/unified\.py|tests/test_unified_tools\.py|tests/test_pipeline\.py)$
  todo-scanner: any of: ^(src|tests)/.*\.py$
  evolution-cycle: any of: (\.pre-commit-config\.yaml|copilot-instructions\.md|SKILL\.md|CONTRIBUTING\.md|pyproject\.toml|scripts/hooks/)

docs: rebuild documentation site payload
  docs/site-content.js
  docs/site-content/architecture.md
  docs/site-content/deployment.md
  docs/site-content/developer-guide-zh.md
  docs/site-content/developer-guide.md
  docs/site-content/overview-zh.md
  docs/site-content/overview.md
  docs/site-content/python-sdk-http-cli-design.md
  docs/site-content/troubleshooting.md
  docs/site-content/user-guide-zh.md
  docs/site-content/user-guide.md
  docs/site.js
Due: none

chore: add unicode mojibake guard hook
  .claude/skills/git-precommit/SKILL.md
  .github/copilot-instructions.md
  .pre-commit-config.yaml
  AGENTS.md
  CHANGELOG.md
  CONTRIBUTING.md
  pyproject.toml
  scripts/hooks/check_evolution_cycle.py
  scripts/hooks/check_unicode_mojibake.py
  tests/test_evolution_cycle_policy.py
  tests/test_unicode_mojibake_hook.py
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner, evolution-cycle

docs: consolidate research chronicle rebuild spec
  CHANGELOG.md
  README.md
  README.zh-TW.md
  docs/ADVANCED_RESEARCH_WORKFLOWS.md
  docs/ADVANCED_RESEARCH_WORKFLOWS.zh-TW.md
  docs/TOOLS_USAGE_GUIDE.md
  docs/TOOLS_USAGE_GUIDE.zh-TW.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE.zh-TW.md
  docs/site-content.js
  docs/site-content/advanced-workflows-zh.md
  docs/site-content/advanced-workflows.md
  docs/site-content/overview-zh.md
  docs/site-content/overview.md
  docs/site-content/research-chronicle-rebuild-spec.md
  docs/site-content/tools-usage-guide-zh.md
  docs/site-content/tools-usage-guide.md
  docs/site-content/user-guide-zh.md
  docs/site-content/user-guide.md
  docs/site.js
  memory-bank/activeContext.md
  memory-bank/decisionLog.md
  memory-bank/progress.md
  scripts/build_docs_site.py
  scripts/build_github_wiki.py
  tests/test_agent_docs_alignment.py
  tests/test_docs_site_sync.py
Due: vulture, mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner

fix: propagate runtime source contact email
  README.md
  README.zh-TW.md
  docs/INTEGRATIONS.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE.zh-TW.md
  docs/site-content.js
  docs/site-content/overview-zh.md
  docs/site-content/overview.md
  docs/site-content/troubleshooting.md
  docs/site-content/user-guide-zh.md
  docs/site-content/user-guide.md
  src/pubmed_search/infrastructure/sources/__init__.py
  src/pubmed_search/infrastructure/sources/contact.py
  src/pubmed_search/infrastructure/sources/crossref.py
  src/pubmed_search/infrastructure/sources/fulltext_discovery.py
  src/pubmed_search/infrastructure/sources/openalex.py
  src/pubmed_search/infrastructure/sources/unpaywall.py
  src/pubmed_search/presentation/mcp_server/server.py
  tests/test_fulltext_download.py
  tests/test_mcp_server.py
  tests/test_openalex.py
  tests/test_sources_init.py
  tests/test_unpaywall.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner

test: stabilize release verification checks
  tests/test_fulltext_urls.py
  tests/test_github_wiki_build.py
Due: mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner

chore: release v0.5.17
  CHANGELOG.md
  pyproject.toml
  src/pubmed_search/__init__.py
  uv.lock
Due: vulture, deptry, mypy, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner, evolution-cycle

feat(chronicle): add persisted, versioned Research Chronicle
  .claude/skills/pubmed-research-chronicle/SKILL.md
  src/pubmed_search/application/chronicle/__init__.py
  src/pubmed_search/application/chronicle/analytics.py
  src/pubmed_search/application/chronicle/assembler.py
  src/pubmed_search/application/chronicle/audit.py
  src/pubmed_search/application/chronicle/differ.py
  src/pubmed_search/application/chronicle/graph.py
  src/pubmed_search/application/chronicle/narrator.py
  src/pubmed_search/application/chronicle/projectors.py
  src/pubmed_search/application/chronicle/service.py
  src/pubmed_search/application/chronicle/store.py
  src/pubmed_search/domain/entities/chronicle.py
  src/pubmed_search/presentation/mcp_server/tools/chronicle.py
  src/pubmed_search/presentation/mcp_server/tools/timeline.py
  tests/test_chronicle.py
  tests/test_timeline_tools.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, no-env-inner-layers, todo-scanner, evolution-cycle

feat(tenancy): isolate agents and require auth for durable data
  src/pubmed_search/application/session/registry.py
  src/pubmed_search/infrastructure/auth/__init__.py
  src/pubmed_search/infrastructure/auth/static_tokens.py
  src/pubmed_search/presentation/api/server.py
  src/pubmed_search/presentation/mcp_server/auth.py
  src/pubmed_search/presentation/mcp_server/http_cli.py
  src/pubmed_search/presentation/mcp_server/http_security.py
  src/pubmed_search/presentation/mcp_server/session_tools.py
  src/pubmed_search/presentation/mcp_server/tenancy.py
  src/pubmed_search/presentation/mcp_server/tools/tool_session.py
  src/pubmed_search/shared/tenancy.py
  tests/test_multi_tenant_deployment.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, no-env-inner-layers, todo-scanner

fix(ratelimit): draw one shared budget per upstream service
  src/pubmed_search/infrastructure/sources/base_client.py
  src/pubmed_search/infrastructure/sources/profiling.py
  src/pubmed_search/shared/async_utils.py
  src/pubmed_search/shared/profiling.py
  tests/test_async_utils.py
  tests/test_profiling.py
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner

refactor(mcp): migrate the tool surface to MCP Python SDK v2
  src/pubmed_search/presentation/mcp_server/server.py
  src/pubmed_search/presentation/mcp_server/tool_registry.py
  src/pubmed_search/presentation/mcp_server/tools/__init__.py
  src/pubmed_search/presentation/mcp_server/tools/_common.py
  src/pubmed_search/presentation/mcp_server/tools/citation_tree.py
  src/pubmed_search/presentation/mcp_server/tools/core.py
  src/pubmed_search/presentation/mcp_server/tools/discovery.py
  src/pubmed_search/presentation/mcp_server/tools/europe_pmc.py
  src/pubmed_search/presentation/mcp_server/tools/export.py
  src/pubmed_search/presentation/mcp_server/tools/figure_tools.py
  src/pubmed_search/presentation/mcp_server/tools/icd.py
  src/pubmed_search/presentation/mcp_server/tools/image_search.py
  src/pubmed_search/presentation/mcp_server/tools/merge.py
  src/pubmed_search/presentation/mcp_server/tools/ncbi_extended.py
  src/pubmed_search/presentation/mcp_server/tools/openurl.py
  src/pubmed_search/presentation/mcp_server/tools/pico.py
  src/pubmed_search/presentation/mcp_server/tools/pipeline_tools.py
  src/pubmed_search/presentation/mcp_server/tools/reference_verification.py
  src/pubmed_search/presentation/mcp_server/tools/strategy.py
  src/pubmed_search/presentation/mcp_server/tools/tool_runtime.py
  src/pubmed_search/presentation/mcp_server/tools/unified.py
  src/pubmed_search/presentation/mcp_server/tools/unified_execution.py
  src/pubmed_search/presentation/mcp_server/tools/unified_formatting.py
  src/pubmed_search/presentation/mcp_server/tools/unified_runner.py
  src/pubmed_search/presentation/mcp_server/tools/vision_search.py
Due: vulture, deptry, mypy, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, source-counts-guard, todo-scanner

refactor(mcp): finish SDK v2 alignment across remaining layers
  src/pubmed_search/__init__.py
  src/pubmed_search/application/pipeline/store.py
  src/pubmed_search/application/session/__init__.py
  src/pubmed_search/application/unified/service.py
  src/pubmed_search/domain/entities/__init__.py
  src/pubmed_search/presentation/mcp_server/TOOLS_INDEX.md
  src/pubmed_search/presentation/mcp_server/copilot_tools.py
  src/pubmed_search/presentation/mcp_server/instructions.py
  src/pubmed_search/presentation/mcp_server/prompts.py
  src/pubmed_search/presentation/mcp_server/resources.py
  src/pubmed_search/shared/settings.py
Due: vulture, deptry, mypy, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner

test: add boundary, mutation-verified, and protocol smoke coverage
  tests/test_agent_docs_alignment.py
  tests/test_comprehensive_coverage.py
  tests/test_container.py
  tests/test_copilot_tools.py
  tests/test_core_ncbi_extended.py
  tests/test_discovery_tools.py
  tests/test_docs_site_sync.py
  tests/test_europe_pmc.py
  tests/test_image_query_advisor.py
  tests/test_image_search.py
  tests/test_mcp_protocol_in_memory.py
  tests/test_package_imports.py
  tests/test_pipeline_report_save.py
  tests/test_server_init.py
  tests/test_tool_registry.py
  tests/test_tool_runtime.py
  tests/test_unified_comprehensive.py
  tests/test_unified_search.py
Due: mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner

build: add tenant-scoped-storage pre-commit hook
  .pre-commit-config.yaml
  CONTRIBUTING.md
  scripts/count_mcp_tools.py
  scripts/hooks/check_docstring_tools.py
  scripts/hooks/check_tenant_scoped_storage.py
  scripts/hooks/copilot/evaluate-results.ps1
  scripts/hooks/copilot/evaluate-results.sh
  scripts/setup-vscode-ai-harness.sh
Due: vulture, mypy, evolution-cycle

docs(agents): refresh the agent harness for the 45-tool surface
  .claude/skills/git-precommit/SKILL.md
  .claude/skills/pubmed-mcp-tools-reference/SKILL.md
  .claude/skills/pubmed-paper-exploration/SKILL.md
  .claude/skills/tool-sync/SKILL.md
  .clinerules/00-workspace-baseline.md
  .clinerules/10-python-ddd.md
  .clinerules/70-pubmed-mcp-tools.md
  .clinerules/workflows/setup-dual-agent-harness.md
  .clinerules/workflows/sync-mcp-surface.md
  .clinerules/workflows/validate-repo.md
  .github/agents/context-loader.agent.md
  .github/agents/research.agent.md
  .github/copilot-instructions.md
  .github/hooks/copilot-tool-policy.json
  .instruction_drift_fingerprint
Due: evolution-cycle

docs: document multi-agent deployment and the chronicle surface
  ARCHITECTURE.md
  DEPLOYMENT.md
  README.md
  README.zh-TW.md
  copilot-studio/README.md
  docs/.nojekyll
  docs/ADVANCED_RESEARCH_WORKFLOWS.md
  docs/ADVANCED_RESEARCH_WORKFLOWS.zh-TW.md
  docs/CLINICALKEY_AI_INTEGRATION.md
  docs/COMPARISON_paper-search-mcp.md
  docs/INTEGRATIONS.md
  docs/RESEARCH_CHRONICLE_REFACTOR_SPEC.md
  docs/TOOLS_USAGE_GUIDE.md
  docs/TOOLS_USAGE_GUIDE.zh-TW.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE.zh-TW.md
  docs/site-content.js
  docs/site-content/advanced-workflows-zh.md
  docs/site-content/advanced-workflows.md
  docs/site-content/architecture.md
  docs/site-content/deployment.md
  docs/site-content/overview-zh.md
  docs/site-content/overview.md
  docs/site-content/quick-reference.md
  docs/site-content/research-chronicle-rebuild-spec.md
  docs/site-content/tools-usage-guide-zh.md
  docs/site-content/tools-usage-guide.md
  docs/site-content/troubleshooting.md
  docs/site-content/user-guide-zh.md
  docs/site-content/user-guide.md
  docs/site.js
Due: none

chore(deps): require MCP Python SDK v2
  pyproject.toml
  run_copilot.py
  uv.lock
Due: deptry, mypy, evolution-cycle

chore: release v0.6.0
  CHANGELOG.md
  CITATION.cff
  memory-bank/activeContext.md
  memory-bank/decisionLog.md
  memory-bank/progress.md
  memory-bank/systemPatterns.md
Due: none

build: keep live-API tests out of the pre-push gate
  .github/copilot-instructions.md
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: evolution-cycle

fix(hooks): stop file-hygiene deadlocking edits to existing files
  .codex/skills/academic-figure-drawing-harness/SKILL.md
  .github/copilot-instructions.md
  CONTRIBUTING.md
  scripts/hooks/check_file_hygiene.py
  tests/test_file_hygiene.py
Due: vulture, mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner, evolution-cycle

feat: migrate MCP runtime to SDK v2 with tenant isolation
  .instruction_drift_fingerprint
  pyproject.toml
  run_copilot.py
  scripts/test-copilot-mcp.py
  src/pubmed_search/__init__.py
  src/pubmed_search/presentation/browser_fetch_broker.py
  src/pubmed_search/presentation/mcp_server/auth.py
  src/pubmed_search/presentation/mcp_server/http_cli.py
  src/pubmed_search/presentation/mcp_server/http_security.py
  src/pubmed_search/presentation/mcp_server/server.py
  src/pubmed_search/presentation/mcp_server/tenancy.py
  src/pubmed_search/shared/settings.py
  src/pubmed_search/shared/tenancy.py
  uv.lock
Due: vulture, deptry, mypy, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner, evolution-cycle

feat: make tenant persistence atomic and thread-safe
  src/pubmed_search/application/chronicle/service.py
  src/pubmed_search/application/chronicle/store.py
  src/pubmed_search/application/export/__init__.py
  src/pubmed_search/application/export/artifacts.py
  src/pubmed_search/application/export/notes.py
  src/pubmed_search/application/fulltext/service.py
  src/pubmed_search/application/pipeline/store.py
  src/pubmed_search/application/session/artifacts.py
  src/pubmed_search/application/session/manager.py
  src/pubmed_search/application/session/registry.py
  src/pubmed_search/infrastructure/cache/entity_cache.py
  src/pubmed_search/shared/__init__.py
  src/pubmed_search/shared/cache_substrate.py
  src/pubmed_search/shared/file_io.py
  src/pubmed_search/shared/locking.py
Due: vulture, deptry, mypy, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner

feat: harden the multi-source search broker
  src/pubmed_search/application/search/result_aggregator.py
  src/pubmed_search/domain/entities/article.py
  src/pubmed_search/infrastructure/sources/base_client.py
  src/pubmed_search/infrastructure/sources/openalex.py
  src/pubmed_search/infrastructure/sources/preprints.py
  src/pubmed_search/infrastructure/sources/registry.py
  src/pubmed_search/infrastructure/sources/semantic_scholar.py
  src/pubmed_search/shared/article_identity.py
  src/pubmed_search/shared/async_utils.py
  src/pubmed_search/shared/source_contracts.py
Due: vulture, deptry, mypy, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner

feat: streamline the MCP tool surface
  scripts/count_mcp_tools.py
  src/pubmed_search/presentation/mcp_server/tool_registry.py
  src/pubmed_search/presentation/mcp_server/tools/chronicle.py
  src/pubmed_search/presentation/mcp_server/tools/europe_pmc.py
  src/pubmed_search/presentation/mcp_server/tools/export.py
  src/pubmed_search/presentation/mcp_server/tools/openurl.py
  src/pubmed_search/presentation/mcp_server/tools/pipeline_tools.py
  src/pubmed_search/presentation/mcp_server/tools/unified.py
  src/pubmed_search/presentation/mcp_server/tools/unified_execution.py
  src/pubmed_search/presentation/mcp_server/tools/unified_helpers.py
  src/pubmed_search/presentation/mcp_server/tools/unified_planning.py
  src/pubmed_search/presentation/mcp_server/tools/unified_source_search.py
Due: vulture, deptry, mypy, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, source-counts-guard, todo-scanner

test: cover atomic persistence and session concurrency
  tests/test_cache_substrate.py
  tests/test_chronicle.py
  tests/test_comprehensive_coverage.py
  tests/test_export_tools.py
  tests/test_exports.py
  tests/test_openurl_tools.py
  tests/test_phase3_pubtator.py
  tests/test_pipeline_store.py
  tests/test_pipeline_tools.py
  tests/test_reach_90.py
  tests/test_session.py
  tests/test_session_artifacts.py
Due: mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner

test: cover broker correctness and live API gates
  tests/test_article_identity.py
  tests/test_async_utils.py
  tests/test_europe_pmc_tools.py
  tests/test_integration.py
  tests/test_live_integration_gate.py
  tests/test_openalex.py
  tests/test_preprints.py
  tests/test_result_aggregator.py
  tests/test_semantic_scholar.py
  tests/test_source_contracts.py
  tests/test_source_registry.py
  tests/test_unified_broker_correctness.py
Due: mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner

test: complete MCP v2 edge and release smoke coverage
  tests/test_browser_fetch_broker_security.py
  tests/test_mcp_protocol_in_memory.py
  tests/test_mcp_v2_pipeline_concurrency.py
  tests/test_multi_tenant_deployment.py
  tests/test_public_mcp_facades.py
  tests/test_release_transport_smoke.py
  tests/test_round5_coverage.py
  tests/test_server_modes_and_exports.py
  tests/test_tool_registry.py
Due: mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner

build: split local and service deployment release paths
  .env.service.example
  .github/bylaws/python-environment.md
  .github/workflows/ci.yml
  .github/workflows/pages.yml
  .github/workflows/publish.yml
  .github/workflows/wiki.yml
  CHANGELOG.md
  CITATION.cff
  CONTRIBUTING.md
  Dockerfile
  copilot-studio/README.md
  copilot-studio/openapi-schema.yaml
  docker-compose.https.yml
  docker-compose.service.yml
  docker-compose.yml
  nginx/nginx.conf
  scripts/perf/complexity_scan.py
  scripts/run_https_local.py
  scripts/setup-ngrok.sh
  scripts/start-copilot-ngrok.sh
  scripts/start-copilot-studio.sh
  scripts/start-https-local.sh
Due: vulture, mypy, evolution-cycle

docs: publish bilingual MCP v2 handbook sources
  .claude/skills/pipeline-persistence/references/pipeline-tutorial.md
  .claude/skills/pipeline-persistence/references/pipeline-tutorial.zh-TW.md
  .github/copilot-instructions.md
  ARCHITECTURE.md
  DEPLOYMENT.md
  README.md
  README.zh-TW.md
  ROADMAP.md
  docs/COPILOT_HOOKS_PIPELINE_ENFORCEMENT.md
  docs/DEEP_RESEARCH_ARCHITECTURE_ANALYSIS.md
  docs/DEVELOPER_GUIDE.md
  docs/DEVELOPER_GUIDE.zh-TW.md
  docs/INTEGRATIONS.md
  docs/PHASE_4_IMAGE_SEARCH.md
  docs/PIPELINE_MODE_TUTORIAL.en.md
  docs/PIPELINE_MODE_TUTORIAL.md
  docs/PIPELINE_PERSISTENCE_DESIGN.md
  docs/PYTHON_SDK_AND_HTTP_CLI_DESIGN.md
  docs/REPO_SEPARATION_PRINCIPLES.md
  docs/SOURCE_CONTRACTS.md
  docs/TOOLS_USAGE_GUIDE.md
  docs/TOOLS_USAGE_GUIDE.zh-TW.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE.zh-TW.md
  docs/arxiv-paper/main.tex
  docs/competitor-analysis.md
  docs/paper-draft.md
  scripts/build_docs_site.py
Due: vulture, mypy, evolution-cycle

docs: rebuild the searchable handbook site
  docs/images/copilot-studio-deployment-flow.svg
  docs/images/favicon.svg
  docs/images/integration-deployment-workflow.svg
  docs/images/timeline-evaluation-workflow.svg
  docs/index.html
  docs/site-content.js
  docs/site-content/architecture.md
  docs/site-content/deployment.md
  docs/site-content/developer-guide-zh.md
  docs/site-content/developer-guide.md
  docs/site-content/overview-zh.md
  docs/site-content/overview.md
  docs/site-content/pipeline-tutorial-zh.md
  docs/site-content/pipeline-tutorial.md
  docs/site-content/python-sdk-http-cli-design.md
  docs/site-content/source-contracts.md
  docs/site-content/tools-usage-guide-zh.md
  docs/site-content/tools-usage-guide.md
  docs/site-content/troubleshooting.md
  docs/site-content/user-guide-zh.md
  docs/site-content/user-guide.md
  docs/site.css
  docs/site.js
  tests/test_docs_site_sync.py
  tests/test_documentation_integrity.py
Due: mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner

chore: record v0.6.1 architecture decisions
  memory-bank/activeContext.md
  memory-bank/decisionLog.md
  memory-bank/progress.md
Due: none

fix: restore cross-platform Python compatibility
  CHANGELOG.md
  CITATION.cff
  pyproject.toml
  scripts/hooks/check_evolution_cycle.py
  src/pubmed_search/application/search/semantic_enhancer.py
  src/pubmed_search/application/session/manager.py
  src/pubmed_search/domain/entities/pipeline.py
  src/pubmed_search/shared/async_utils.py
  src/pubmed_search/shared/cache_substrate.py
  src/pubmed_search/shared/datetime_utils.py
  src/pubmed_search/shared/exceptions.py
  src/pubmed_search/shared/file_io.py
  src/pubmed_search/shared/source_contracts.py
  tests/test_async_utils.py
  tests/test_core_module.py
  tests/test_documentation_integrity.py
  tests/test_exports.py
  tests/test_package_entrypoints.py
  tests/test_phase3_pubtator.py
  tests/test_preprints.py
  tests/test_python310_datetime_compat.py
  tests/test_server_modes_and_exports.py
  tests/test_source_contracts.py
  uv.lock
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner, evolution-cycle

chore: record cross-platform release validation
  memory-bank/activeContext.md
  memory-bank/progress.md
Due: none

test: keep fulltext unit coverage offline
  tests/test_europe_pmc_tools.py
  tests/test_europe_pmc_tools_extended.py
  tests/test_fulltext_download.py
Due: mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner

feat(chronicle): add chronological lineage projection
  src/pubmed_search/application/chronicle/__init__.py
  src/pubmed_search/application/chronicle/analytics.py
  src/pubmed_search/application/chronicle/assembler.py
  src/pubmed_search/application/chronicle/graph.py
  src/pubmed_search/application/chronicle/lineage.py
  src/pubmed_search/application/chronicle/mermaid.py
  src/pubmed_search/application/chronicle/narrator.py
  src/pubmed_search/application/chronicle/ordering.py
  src/pubmed_search/application/chronicle/projectors.py
  src/pubmed_search/application/timeline/branch_detector.py
  src/pubmed_search/application/timeline/milestone_detector.py
  src/pubmed_search/application/timeline/milestone_policy.py
  src/pubmed_search/application/timeline/timeline_builder.py
  src/pubmed_search/domain/entities/chronicle.py
  src/pubmed_search/domain/entities/research_tree.py
  src/pubmed_search/domain/entities/timeline.py
Due: vulture, deptry, mypy, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner

fix(chronicle): harden audit and revision integrity
  src/pubmed_search/application/chronicle/audit.py
  src/pubmed_search/application/chronicle/differ.py
  src/pubmed_search/application/chronicle/service.py
  src/pubmed_search/application/chronicle/store.py
Due: vulture, deptry, mypy, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner

feat(mcp): harden chronicle tool contracts
  .claude/skills/pubmed-research-chronicle/SKILL.md
  .clinerules/70-pubmed-mcp-tools.md
  .github/agents/research.agent.md
  .github/hooks/copilot-tool-policy.json
  scripts/hooks/copilot/analyze-prompt.ps1
  scripts/hooks/copilot/analyze-prompt.sh
  scripts/hooks/copilot/enforce-pipeline.ps1
  scripts/hooks/copilot/enforce-pipeline.sh
  scripts/hooks/copilot/evaluate-results.ps1
  scripts/hooks/copilot/evaluate-results.sh
  src/pubmed_search/presentation/mcp_server/tenancy.py
  src/pubmed_search/presentation/mcp_server/tools/artifact_memory.py
  src/pubmed_search/presentation/mcp_server/tools/chronicle.py
Due: vulture, deptry, mypy, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, todo-scanner, evolution-cycle

test(chronicle): verify mermaid and revision safety
  .github/workflows/ci.yml
  scripts/check_mermaid_rendering.mjs
  scripts/export_mermaid_smoke_fixtures.py
  tests/test_chronicle.py
  tests/test_chronicle_cross_projection_integrity.py
  tests/test_chronicle_mermaid.py
  tests/test_chronicle_mermaid_legacy.py
  tests/test_chronicle_mermaid_repairs_extra.py
  tests/test_chronicle_projection_robustness.py
  tests/test_chronicle_revision_integrity.py
  tests/test_chronicle_scientific_ranking.py
  tests/test_chronicle_semantic_hardening.py
  tests/test_copilot_hook_policy.py
  tests/test_docs_site_sync.py
  tests/test_mcp_protocol_in_memory.py
  tests/test_mermaid_ci_contract.py
  tests/test_mermaid_smoke_fixtures.py
  tests/test_milestone_detector.py
  tests/test_research_artifact_envelope.py
  tests/test_timeline_builder.py
Due: vulture, mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner

docs: document auditable research chronicles
  CHANGELOG.md
  README.md
  README.zh-TW.md
  docs/ADVANCED_RESEARCH_WORKFLOWS.md
  docs/ADVANCED_RESEARCH_WORKFLOWS.zh-TW.md
  docs/CLINICALKEY_AI_INTEGRATION.md
  docs/RESEARCH_CHRONICLE_REFACTOR_SPEC.md
  docs/TOOLS_USAGE_GUIDE.md
  docs/TOOLS_USAGE_GUIDE.zh-TW.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE.zh-TW.md
Due: none

docs(site): publish chronicle visualization guidance
  docs/index.html
  docs/site-content/advanced-workflows-zh.md
  docs/site-content/advanced-workflows.md
  docs/site-content/overview-zh.md
  docs/site-content/research-chronicle-rebuild-spec.md
  docs/site-content/tools-usage-guide-zh.md
  docs/site-content/tools-usage-guide.md
  docs/site-content/user-guide-zh.md
  docs/site-content/user-guide.md
  docs/site.css
  docs/site.js
Due: none

fix(chronicle): preserve revision callback compatibility
  src/pubmed_search/application/chronicle/store.py
  tests/test_chronicle_revision_integrity.py
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner
