Repository u9401066/pubmed-search-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, no-env-inner-layers, source-counts-guard, todo-scanner, evolution-cycle

Path conditions:
  vulture: any of: ^(src|scripts)/ and \.py$
  deptry: any of: ^(src/|pyproject\.toml)
  mypy: any of: \.py$
  async-test-checker: any of: ^tests/
  tool-count-sync: any of: ^src/pubmed_search/presentation/mcp_server/
  future-annotations: any of: ^(src|tests)/.*\.py$
  no-print-in-src: any of: ^src/.*\.py$
  ddd-layer-imports: any of: ^src/pubmed_search/
  no-type-ignore-bare: any of: ^(src|tests)/.*\.py$
  docstring-tools: any of: ^src/pubmed_search/presentation/mcp_server/tools/
  no-env-inner-layers: any of: ^src/pubmed_search/(domain|application|shared)/
  source-counts-guard: any of: ^(src/pubmed_search/presentation/mcp_server/tools/unified\.py|tests/test_unified_tools\.py|tests/test_pipeline\.py)$
  todo-scanner: any of: ^(src|tests)/.*\.py$
  evolution-cycle: any of: (\.pre-commit-config\.yaml|copilot-instructions\.md|SKILL\.md|CONTRIBUTING\.md|pyproject\.toml|scripts/hooks/)

fix: improve figure URLs and PubMed date parsing
  src/pubmed_search/application/image_search/advisor.py
  src/pubmed_search/domain/entities/article.py
  src/pubmed_search/infrastructure/sources/__init__.py
  src/pubmed_search/infrastructure/sources/figure_client.py
  tests/test_figure_client.py
  tests/test_unified_article.py
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner

docs: sync public MCP docs and architecture
  ARCHITECTURE.md
  DEPLOYMENT.md
  README.md
  README.zh-TW.md
  copilot-studio/README.md
  copilot-studio/openapi-schema.yaml
  docs/INTEGRATIONS.md
  memory-bank/architect.md
  memory-bank/productContext.md
  memory-bank/progress.md
  memory-bank/systemPatterns.md
  scripts/count_mcp_tools.py
  src/pubmed_search/presentation/mcp_server/TOOLS_INDEX.md
  src/pubmed_search/presentation/mcp_server/copilot_tools.py
  src/pubmed_search/presentation/mcp_server/prompts.py
  src/pubmed_search/presentation/mcp_server/resources.py
  src/pubmed_search/presentation/mcp_server/session_tools.py
  src/pubmed_search/presentation/mcp_server/tools/__init__.py
  src/pubmed_search/presentation/mcp_server/tools/core.py
  src/pubmed_search/presentation/mcp_server/tools/discovery.py
  src/pubmed_search/presentation/mcp_server/tools/europe_pmc.py
  src/pubmed_search/presentation/mcp_server/tools/export.py
  src/pubmed_search/presentation/mcp_server/tools/icd.py
  src/pubmed_search/presentation/mcp_server/tools/ncbi_extended.py
  src/pubmed_search/presentation/mcp_server/tools/strategy.py
Due: vulture, deptry, mypy, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, todo-scanner

refactor: extract shared cache and policy kernels
  scripts/run_mutation_gate.py
  src/pubmed_search/application/image_search/advisor.py
  src/pubmed_search/application/image_search/advisor_policy.py
  src/pubmed_search/application/image_search/advisor_scorer.py
  src/pubmed_search/application/image_search/aggregation_kernel.py
  src/pubmed_search/application/image_search/service.py
  src/pubmed_search/application/image_search/source_adapters.py
  src/pubmed_search/application/timeline/diagnostics.py
  src/pubmed_search/application/timeline/landmark_policy.py
  src/pubmed_search/application/timeline/landmark_scorer.py
  src/pubmed_search/application/timeline/milestone_detector.py
  src/pubmed_search/application/timeline/milestone_policy.py
  src/pubmed_search/application/timeline/timeline_builder.py
  src/pubmed_search/container.py
  src/pubmed_search/domain/entities/__init__.py
  src/pubmed_search/domain/entities/article.py
  src/pubmed_search/domain/entities/timeline.py
  src/pubmed_search/infrastructure/cache/__init__.py
  src/pubmed_search/infrastructure/cache/entity_cache.py
  src/pubmed_search/shared/async_utils.py
  src/pubmed_search/shared/cache_substrate.py
  src/pubmed_search/shared/source_contracts.py
  tests/test_async_utils.py
  tests/test_cache_substrate.py
  tests/test_image_query_advisor.py
  tests/test_image_search.py
  tests/test_landmark_scorer.py
  tests/test_milestone_detector.py
  tests/test_source_contracts.py
  tests/test_timeline_builder.py
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner

fix: harden source clients and runtime paths
  Dockerfile
  run_copilot.py
  run_server.py
  scripts/run_all_tests.ps1
  scripts/run_mutation_tests.ps1
  scripts/setup-ngrok.sh
  scripts/test-copilot-mcp.py
  src/pubmed_search/infrastructure/ncbi/base.py
  src/pubmed_search/infrastructure/ncbi/batch.py
  src/pubmed_search/infrastructure/ncbi/pdf.py
  src/pubmed_search/infrastructure/ncbi/search.py
  src/pubmed_search/infrastructure/ncbi/strategy.py
  src/pubmed_search/infrastructure/pubtator/client.py
  src/pubmed_search/infrastructure/sources/__init__.py
  src/pubmed_search/infrastructure/sources/base_client.py
  src/pubmed_search/infrastructure/sources/clinical_trials.py
  src/pubmed_search/infrastructure/sources/core.py
  src/pubmed_search/infrastructure/sources/crossref.py
  src/pubmed_search/infrastructure/sources/fulltext_download.py
  src/pubmed_search/infrastructure/sources/ncbi_extended.py
  src/pubmed_search/infrastructure/sources/preprints.py
  src/pubmed_search/infrastructure/sources/unpaywall.py
  src/pubmed_search/presentation/api/server.py
  start.sh
  tests/test_fulltext_download.py
  tests/test_preprints.py
  tests/test_preprints_comprehensive.py
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner

feat: expand MCP server workflows and resources
  src/pubmed_search/__init__.py
  src/pubmed_search/application/session/manager.py
  src/pubmed_search/presentation/mcp_server/TOOLS_INDEX.md
  src/pubmed_search/presentation/mcp_server/__init__.py
  src/pubmed_search/presentation/mcp_server/__main__.py
  src/pubmed_search/presentation/mcp_server/resources.py
  src/pubmed_search/presentation/mcp_server/server.py
  src/pubmed_search/presentation/mcp_server/session_tools.py
  src/pubmed_search/presentation/mcp_server/tool_registry.py
  src/pubmed_search/presentation/mcp_server/tools/__init__.py
  src/pubmed_search/presentation/mcp_server/tools/_common.py
  src/pubmed_search/presentation/mcp_server/tools/agent_output.py
  src/pubmed_search/presentation/mcp_server/tools/discovery.py
  src/pubmed_search/presentation/mcp_server/tools/europe_pmc.py
  src/pubmed_search/presentation/mcp_server/tools/figure_tools.py
  src/pubmed_search/presentation/mcp_server/tools/image_search.py
  src/pubmed_search/presentation/mcp_server/tools/timeline.py
  src/pubmed_search/presentation/mcp_server/tools/unified.py
  src/pubmed_search/presentation/mcp_server/tools/unified_formatting.py
  src/pubmed_search/presentation/mcp_server/tools/unified_helpers.py
  tests/test_copilot_tools.py
  tests/test_discovery_tools_extended.py
  tests/test_europe_pmc_tools.py
  tests/test_figure_tools.py
  tests/test_mcp_protocol_in_memory.py
  tests/test_reach_90.py
  tests/test_session_tools.py
  tests/test_timeline_tools.py
  tests/test_unified_tools.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, no-env-inner-layers, source-counts-guard, todo-scanner

docs: publish 0.5.0 release notes and docs site
  CHANGELOG.md
  docs/SOURCE_CONTRACTS.md
  docs/index.html
  docs/site-content.js
  docs/site-content/architecture.md
  docs/site-content/deployment.md
  docs/site-content/overview-zh.md
  docs/site-content/overview.md
  docs/site-content/quick-reference.md
  docs/site-content/source-contracts.md
  docs/site-content/troubleshooting.md
  docs/site.css
  docs/site.js
  memory-bank/activeContext.md
  memory-bank/decisionLog.md
  memory-bank/progress.md
  pyproject.toml
  scripts/build_docs_site.py
  scripts/check_async_tests.py
  scripts/count_mcp_tools.py
  src/pubmed_search/application/search/result_aggregator.py
  uv.lock
Due: vulture, deptry, mypy, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner, evolution-cycle

fix: resolve release validation regressions
  CITATION.cff
  scripts/hooks/check_skills_frontmatter.py
  src/pubmed_search/infrastructure/sources/__init__.py
  src/pubmed_search/infrastructure/sources/semantic_scholar.py
  src/pubmed_search/presentation/mcp_server/session_tools.py
  src/pubmed_search/presentation/mcp_server/tools/unified.py
  src/pubmed_search/shared/source_contracts.py
  tests/test_check_skills_frontmatter.py
  tests/test_fulltext_urls.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, no-env-inner-layers, source-counts-guard, todo-scanner, evolution-cycle

feat: add centralized settings, source registry, and commercial connector skeletons
  src/pubmed_search/domain/entities/article.py
  src/pubmed_search/domain/services/__init__.py
  src/pubmed_search/domain/value_objects/__init__.py
  src/pubmed_search/infrastructure/cache/__init__.py
  src/pubmed_search/infrastructure/cache/entity_cache.py
  src/pubmed_search/infrastructure/http/__init__.py
  src/pubmed_search/infrastructure/pubtator/__init__.py
  src/pubmed_search/infrastructure/sources/__init__.py
  src/pubmed_search/infrastructure/sources/article_mapper.py
  src/pubmed_search/infrastructure/sources/registry.py
  src/pubmed_search/infrastructure/sources/scopus.py
  src/pubmed_search/infrastructure/sources/web_of_science.py
  src/pubmed_search/presentation/api/server.py
  src/pubmed_search/presentation/mcp_server/instructions.py
  src/pubmed_search/presentation/mcp_server/server.py
  src/pubmed_search/presentation/mcp_server/session_tools.py
  src/pubmed_search/presentation/mcp_server/tool_registry.py
  src/pubmed_search/shared/__init__.py
  src/pubmed_search/shared/cache_substrate.py
  src/pubmed_search/shared/profiling.py
  src/pubmed_search/shared/settings.py
  tests/test_scopus_client.py
  tests/test_session_tools.py
  tests/test_settings.py
  tests/test_source_registry.py
  tests/test_sources_init.py
  tests/test_web_of_science_client.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner

feat: pipeline runner, Pydantic schema layer, APScheduler integration
  .github/hooks/pipeline-enforcer.json
  data/pipeline_examples/comprehensive_crispr_therapy.yaml
  data/pipeline_examples/gene_drug_brca1.yaml
  docs/COPILOT_HOOKS_PIPELINE_ENFORCEMENT.md
  docs/PIPELINE_MODE_TUTORIAL.en.md
  docs/PIPELINE_MODE_TUTORIAL.md
  docs/site-content/pipeline-tutorial-zh.md
  docs/site-content/pipeline-tutorial.md
  scripts/hooks/copilot/enforce-pipeline.ps1
  scripts/hooks/copilot/enforce-pipeline.sh
  src/pubmed_search/application/pipeline/__init__.py
  src/pubmed_search/application/pipeline/executor.py
  src/pubmed_search/application/pipeline/runner.py
  src/pubmed_search/application/pipeline/schema.py
  src/pubmed_search/application/pipeline/store.py
  src/pubmed_search/application/pipeline/templates.py
  src/pubmed_search/application/pipeline/validator.py
  src/pubmed_search/domain/entities/pipeline.py
  src/pubmed_search/infrastructure/scheduling/__init__.py
  src/pubmed_search/infrastructure/scheduling/pipeline_scheduler.py
  src/pubmed_search/presentation/mcp_server/tools/pipeline_tools.py
  src/pubmed_search/presentation/mcp_server/tools/unified_pipeline.py
  tests/test_pipeline.py
  tests/test_pipeline_report_save.py
  tests/test_pipeline_runner.py
  tests/test_pipeline_scheduler.py
  tests/test_pipeline_schema.py
  tests/test_pipeline_store.py
  tests/test_pipeline_tools.py
  tests/test_pipeline_validator.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, no-env-inner-layers, source-counts-guard, todo-scanner, evolution-cycle

refactor: fulltext phase decomposition and tool module extraction
  docs/FULLTEXT_REGISTRY_REFACTOR.md
  src/pubmed_search/application/fulltext/__init__.py
  src/pubmed_search/application/fulltext/registry.py
  src/pubmed_search/application/fulltext/service.py
  src/pubmed_search/infrastructure/sources/fulltext_discovery.py
  src/pubmed_search/infrastructure/sources/fulltext_download.py
  src/pubmed_search/infrastructure/sources/fulltext_extract.py
  src/pubmed_search/infrastructure/sources/fulltext_fetch.py
  src/pubmed_search/infrastructure/sources/fulltext_models.py
  src/pubmed_search/infrastructure/sources/fulltext_registry.py
  src/pubmed_search/infrastructure/sources/fulltext_service.py
  src/pubmed_search/infrastructure/sources/openurl.py
  src/pubmed_search/presentation/mcp_server/tools/_common.py
  src/pubmed_search/presentation/mcp_server/tools/agent_output.py
  src/pubmed_search/presentation/mcp_server/tools/europe_pmc.py
  src/pubmed_search/presentation/mcp_server/tools/tool_input.py
  src/pubmed_search/presentation/mcp_server/tools/tool_response.py
  src/pubmed_search/presentation/mcp_server/tools/tool_session.py
  src/pubmed_search/presentation/mcp_server/tools/unified.py
  src/pubmed_search/presentation/mcp_server/tools/unified_enrichment.py
  src/pubmed_search/presentation/mcp_server/tools/unified_execution.py
  src/pubmed_search/presentation/mcp_server/tools/unified_helpers.py
  src/pubmed_search/presentation/mcp_server/tools/unified_planning.py
  src/pubmed_search/presentation/mcp_server/tools/unified_request.py
  src/pubmed_search/presentation/mcp_server/tools/unified_source_search.py
  tests/test_fulltext_download.py
  tests/test_fulltext_phases.py
  tests/test_fulltext_registry.py
  tests/test_fulltext_service.py
  tests/test_unified_tools.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, no-env-inner-layers, source-counts-guard, todo-scanner

feat: Copilot hook policy, docs site updates, and architecture docs
  .github/hooks/copilot-tool-policy.json
  copilot-studio/README.md
  copilot-studio/openapi-schema.yaml
  docs/INTEGRATIONS.md
  docs/REPO_SEPARATION_PRINCIPLES.md
  docs/TOOL_CONSOLIDATION_DESIGN.md
  docs/index.html
  docs/site-content.js
  docs/site-content/architecture.md
  docs/site-content/deployment.md
  docs/site-content/overview-zh.md
  docs/site-content/overview.md
  docs/site-content/quick-reference.md
  docs/site-content/source-contracts.md
  docs/site-content/troubleshooting.md
  docs/site.js
  scripts/build_docs_site.py
  scripts/count_mcp_tools.py
  scripts/hooks/copilot/analyze-prompt.ps1
  scripts/hooks/copilot/analyze-prompt.sh
  scripts/hooks/copilot/evaluate-results.ps1
  scripts/hooks/copilot/evaluate-results.sh
  scripts/hooks/copilot/session-cleanup.ps1
  scripts/hooks/copilot/session-cleanup.sh
  scripts/hooks/copilot/session-init.ps1
  scripts/hooks/copilot/session-init.sh
  scripts/run_mutation_gate.py
  tests/test_copilot_hook_integration.py
  tests/test_copilot_hook_policy.py
  tests/test_docs_site_sync.py
Due: vulture, mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner, evolution-cycle

chore: finalize 0.5.1 release metadata and documentation
  .claude/skills/pubmed-mcp-tools-reference/SKILL.md
  .github/copilot-instructions.md
  ARCHITECTURE.md
  CHANGELOG.md
  DEPLOYMENT.md
  README.md
  README.zh-TW.md
  ROADMAP.md
  pyproject.toml
  run_server.py
  src/pubmed_search/__init__.py
  src/pubmed_search/application/image_search/source_adapters.py
  src/pubmed_search/presentation/mcp_server/TOOLS_INDEX.md
  src/pubmed_search/presentation/mcp_server/tools/__init__.py
  uv.lock
Due: vulture, deptry, mypy, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, no-env-inner-layers, todo-scanner, evolution-cycle

fix: resolve release verification regressions
  src/pubmed_search/application/fulltext/__init__.py
  src/pubmed_search/application/fulltext/registry.py
  src/pubmed_search/application/image_search/advisor_policy.py
  src/pubmed_search/application/pipeline/schema.py
  src/pubmed_search/infrastructure/sources/article_mapper.py
  src/pubmed_search/infrastructure/sources/fulltext_service.py
  src/pubmed_search/infrastructure/sources/web_of_science.py
  src/pubmed_search/presentation/api/server.py
  src/pubmed_search/presentation/mcp_server/session_tools.py
  src/pubmed_search/presentation/mcp_server/tool_registry.py
  src/pubmed_search/presentation/mcp_server/tools/_common.py
  src/pubmed_search/presentation/mcp_server/tools/tool_input.py
  src/pubmed_search/presentation/mcp_server/tools/tool_response.py
  src/pubmed_search/presentation/mcp_server/tools/tool_session.py
  src/pubmed_search/presentation/mcp_server/tools/unified_source_search.py
  tests/test_docs_site_sync.py
  tests/test_fulltext_download.py
  tests/test_fulltext_registry.py
  tests/test_fulltext_service.py
  tests/test_pipeline_runner.py
  tests/test_pipeline_schema.py
  tests/test_scopus_client.py
  tests/test_settings.py
  tests/test_web_of_science_client.py
  uv.lock
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, no-env-inner-layers, todo-scanner

release: v0.5.2 — cross-platform CI matrix, temp-dir fix, agent autonomy roadmap
  .github/workflows/ci.yml
  CHANGELOG.md
  ROADMAP.md
  pyproject.toml
  run_server.py
  src/pubmed_search/__init__.py
  src/pubmed_search/presentation/mcp_server/tools/__init__.py
  tests/test_server_init.py
  uv.lock
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, todo-scanner, evolution-cycle

fix(ci): limit ruff scope to Python sources and remove undefined __all__ entries
  .github/workflows/ci.yml
  src/pubmed_search/presentation/mcp_server/tools/_common.py
Due: vulture, deptry, mypy, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, todo-scanner

fix(ci): scope ruff to Python sources, fix flaky MeSH strategy test
  tests/test_push_to_90.py
Due: mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner

docs: align research agent with collaboration-safe import workflow
  .github/agents/research.agent.md
Due: none

fix: stop unified search blocking after formatting
  src/pubmed_search/presentation/mcp_server/tools/unified_execution.py
  src/pubmed_search/presentation/mcp_server/tools/unified_formatting.py
  tests/test_unified_tools.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, source-counts-guard, todo-scanner

fix: fail open on missing pubtator autocomplete
  src/pubmed_search/infrastructure/pubtator/client.py
  tests/test_pubtator_client.py
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner

chore: prepare v0.5.3 release
  CHANGELOG.md
  pyproject.toml
  src/pubmed_search/__init__.py
  uv.lock
Due: vulture, deptry, mypy, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner, evolution-cycle

merge: integrate browser-session fulltext and pipeline fixes
  pyproject.toml
  run_server.py
  src/pubmed_search/application/pipeline/__init__.py
  src/pubmed_search/application/pipeline/schema.py
  src/pubmed_search/application/pipeline/store.py
  src/pubmed_search/application/pipeline/validator.py
  src/pubmed_search/application/search/result_aggregator.py
  src/pubmed_search/domain/entities/article.py
  src/pubmed_search/domain/entities/pipeline.py
  src/pubmed_search/infrastructure/sources/__init__.py
  src/pubmed_search/infrastructure/sources/browser_session.py
  src/pubmed_search/infrastructure/sources/fulltext_discovery.py
  src/pubmed_search/infrastructure/sources/fulltext_download.py
  src/pubmed_search/infrastructure/sources/fulltext_models.py
  src/pubmed_search/presentation/mcp_server/server.py
  src/pubmed_search/presentation/mcp_server/tool_registry.py
  src/pubmed_search/presentation/mcp_server/tools/europe_pmc.py
  src/pubmed_search/presentation/mcp_server/tools/pipeline_tools.py
  src/pubmed_search/presentation/mcp_server/tools/unified_formatting.py
  src/pubmed_search/presentation/mcp_server/tools/unified_pipeline.py
  tests/test_article_extended.py
  tests/test_europe_pmc_tools.py
  tests/test_europe_pmc_tools_extended.py
  tests/test_fulltext_download.py
  tests/test_pipeline.py
  tests/test_pipeline_report.py
  tests/test_pipeline_report_save.py
  tests/test_pipeline_store.py
  tests/test_pipeline_tools.py
  tests/test_pipeline_validator.py
  tests/test_result_aggregator.py
  tests/test_tool_registry.py
  tests/test_unified_tools.py
  uv.lock
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, no-env-inner-layers, source-counts-guard, todo-scanner, evolution-cycle

docs: sync tool metadata and generated docs site
  .claude/skills/pubmed-mcp-tools-reference/SKILL.md
  README.md
  README.zh-TW.md
  docs/INTEGRATIONS.md
  docs/site-content.js
  docs/site-content/architecture.md
  docs/site-content/deployment.md
  docs/site-content/overview-zh.md
  docs/site-content/overview.md
  docs/site-content/pipeline-tutorial-zh.md
  docs/site-content/pipeline-tutorial.md
  docs/site-content/quick-reference.md
  docs/site-content/source-contracts.md
  docs/site-content/troubleshooting.md
  scripts/count_mcp_tools.py
Due: vulture, mypy, evolution-cycle

test: stabilize europe pmc fulltext fallback coverage
  tests/test_europe_pmc_tools.py
  tests/test_europe_pmc_tools_extended.py
Due: mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner

release: prepare v0.5.4
  CHANGELOG.md
  pyproject.toml
  src/pubmed_search/__init__.py
  uv.lock
Due: vulture, deptry, mypy, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner, evolution-cycle

feat: support OpenAlex API key authentication
  CHANGELOG.md
  README.md
  README.zh-TW.md
  docs/site-content.js
  docs/site-content/overview-zh.md
  docs/site-content/overview.md
  src/pubmed_search/infrastructure/sources/__init__.py
  src/pubmed_search/infrastructure/sources/openalex.py
  src/pubmed_search/shared/settings.py
  tests/test_openalex.py
  tests/test_settings.py
  tests/test_sources_init.py
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner

fix: add missing os import for MCP workspace env
  .claude/skills/pubmed-mcp-tools-reference/SKILL.md
  src/pubmed_search/presentation/mcp_server/TOOLS_INDEX.md
  src/pubmed_search/presentation/mcp_server/server.py
Due: vulture, deptry, mypy, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner, evolution-cycle

Release v0.5.5 Windows startup fix
  CHANGELOG.md
  memory-bank/activeContext.md
  memory-bank/decisionLog.md
  memory-bank/progress.md
  pyproject.toml
  src/pubmed_search/__init__.py
  src/pubmed_search/container.py
  src/pubmed_search/presentation/mcp_server/server.py
  tests/test_container.py
  uv.lock
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner, evolution-cycle

Fix CI ruff formatting issues
  src/pubmed_search/application/pipeline/__init__.py
  src/pubmed_search/infrastructure/sources/browser_session.py
  src/pubmed_search/infrastructure/sources/fulltext_download.py
  tests/test_pipeline_validator.py
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner

Fix integrated lint issues
  src/pubmed_search/infrastructure/ncbi/citation_exporter.py
  src/pubmed_search/infrastructure/ncbi/strategy.py
  src/pubmed_search/infrastructure/sources/fulltext_discovery.py
  src/pubmed_search/shared/cache_substrate.py
  tests/test_file_hygiene.py
  tests/test_package_imports.py
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner

Release v0.5.6 integration candidate
  CHANGELOG.md
  memory-bank/activeContext.md
  memory-bank/decisionLog.md
  memory-bank/progress.md
  pyproject.toml
  src/pubmed_search/__init__.py
  uv.lock
Due: vulture, deptry, mypy, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner, evolution-cycle

Stabilize Entrez runtime CI tests
  CHANGELOG.md
  memory-bank/activeContext.md
  memory-bank/progress.md
  tests/test_entrez_runtime_isolation.py
Due: mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner

docs(roadmap): add Phase 15 BCSR algorithm framework with full R&D pipeline
  ROADMAP.md
Due: none

feat(export): add guided literature note export
  scripts/count_mcp_tools.py
  src/pubmed_search/application/export/__init__.py
  src/pubmed_search/application/export/notes.py
  src/pubmed_search/presentation/mcp_server/TOOLS_INDEX.md
  src/pubmed_search/presentation/mcp_server/copilot_tools.py
  src/pubmed_search/presentation/mcp_server/instructions.py
  src/pubmed_search/presentation/mcp_server/tool_registry.py
  src/pubmed_search/presentation/mcp_server/tools/__init__.py
  src/pubmed_search/presentation/mcp_server/tools/export.py
  src/pubmed_search/shared/settings.py
  tests/test_export_tools.py
  tests/test_settings.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, no-env-inner-layers, todo-scanner

feat(pipeline): add diagnostics and execution controls
  src/pubmed_search/application/pipeline/executor.py
  src/pubmed_search/application/pipeline/report_generator.py
  src/pubmed_search/application/pipeline/schema.py
  src/pubmed_search/application/pipeline/store.py
  src/pubmed_search/application/pipeline/templates.py
  src/pubmed_search/application/pipeline/validator.py
  src/pubmed_search/domain/entities/pipeline.py
  src/pubmed_search/presentation/mcp_server/tools/pipeline_tools.py
  src/pubmed_search/presentation/mcp_server/tools/unified.py
  src/pubmed_search/presentation/mcp_server/tools/unified_pipeline.py
  tests/test_pipeline.py
  tests/test_pipeline_report.py
  tests/test_pipeline_schema.py
  tests/test_pipeline_store.py
  tests/test_pipeline_tools.py
  tests/test_pipeline_validator.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, no-env-inner-layers, source-counts-guard, todo-scanner

docs: align AI guidance and pipeline references
  .claude/skills/pipeline-persistence/SKILL.md
  .claude/skills/pipeline-persistence/references/pipeline-tutorial.md
  .claude/skills/pipeline-persistence/references/pipeline-tutorial.zh-TW.md
  .claude/skills/pubmed-export-citations/SKILL.md
  .claude/skills/pubmed-mcp-tools-reference/SKILL.md
  .clinerules/20-docs-and-generated-assets.md
  .clinerules/30-mcp-surface-and-sync.md
  .github/agents/research.agent.md
  .github/copilot-instructions.md
  .github/hooks/copilot-tool-policy.json
  AGENTS.md
  ARCHITECTURE.md
  DEPLOYMENT.md
  README.md
  README.zh-TW.md
  copilot-studio/README.md
  docs/COPILOT_HOOKS_PIPELINE_ENFORCEMENT.md
  docs/INTEGRATIONS.md
  docs/PIPELINE_MODE_TUTORIAL.en.md
  docs/TOOLS_USAGE_GUIDE.md
  docs/TOOLS_USAGE_GUIDE.zh-TW.md
  docs/index.html
  docs/site-content.js
  docs/site-content/architecture.md
  docs/site-content/deployment.md
  docs/site-content/overview-zh.md
  docs/site-content/overview.md
  docs/site-content/pipeline-tutorial-zh.md
  docs/site-content/quick-reference.md
  docs/site-content/source-contracts.md
  docs/site-content/tools-usage-guide-zh.md
  docs/site-content/tools-usage-guide.md
  docs/site-content/troubleshooting.md
  docs/site.js
  scripts/build_docs_site.py
  scripts/hooks/check_tool_sync.py
Due: vulture, mypy, evolution-cycle

chore(release): prepare v0.5.7
  CHANGELOG.md
  copilot-studio/openapi-schema.yaml
  memory-bank/activeContext.md
  memory-bank/decisionLog.md
  memory-bank/progress.md
  pyproject.toml
  src/pubmed_search/__init__.py
  uv.lock
Due: vulture, deptry, mypy, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner, evolution-cycle

test(export): make note path assertion portable
  memory-bank/activeContext.md
  memory-bank/progress.md
  tests/test_export_tools.py
Due: mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner

docs: add ClinicalKey AI integration spec (0.2.0-spec)
  docs/CLINICALKEY_AI_INTEGRATION.md
Due: none

Add SafeSkill security badge (87/100)
  README.md
Due: none
