Repository u9401066/pubmed-search-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, no-env-inner-layers, source-counts-guard, todo-scanner, evolution-cycle

vulture:
  name: vulture dead code scan
  entry: uv run vulture src/ scripts/ vulture_whitelist.py --min-confidence 80
  language: system
  pass_filenames: false

deptry:
  name: deptry dependency check
  entry: uv run deptry src/
  language: system
  pass_filenames: false

mypy:
  name: mypy type check (src/)
  entry: uv run mypy src/
  language: system
  pass_filenames: false

async-test-checker:
  name: async/sync test consistency
  entry: uv run python scripts/check_async_tests.py
  language: system
  pass_filenames: false

tool-count-sync:
  name: MCP tool docs sync (auto-fix)
  entry: uv run python scripts/hooks/check_tool_sync.py
  language: system
  pass_filenames: false

future-annotations:
  name: future annotations (auto-fix)
  entry: uv run python scripts/hooks/check_future_annotations.py --fix
  language: system
  pass_filenames: false

no-print-in-src:
  name: no print() in src/
  entry: uv run python scripts/hooks/check_no_print.py
  language: system
  pass_filenames: false

ddd-layer-imports:
  name: DDD layer dependency check
  entry: uv run python scripts/hooks/check_ddd_layers.py
  language: system
  pass_filenames: false

no-type-ignore-bare:
  name: no bare type:ignore
  entry: uv run python scripts/hooks/check_type_ignore.py
  language: system
  pass_filenames: false

docstring-tools:
  name: MCP tool docstrings required
  entry: uv run python scripts/hooks/check_docstring_tools.py
  language: system
  pass_filenames: false

no-env-inner-layers:
  name: no os.environ in domain/application
  entry: uv run python scripts/hooks/check_env_config.py
  language: system
  pass_filenames: false

source-counts-guard:
  name: per-source API count display guard
  entry: uv run python scripts/hooks/check_source_counts.py
  language: system
  pass_filenames: false

todo-scanner:
  name: TODO/FIXME scanner (warn)
  entry: uv run python scripts/hooks/check_todo_scanner.py
  language: system
  pass_filenames: false
  verbose: true

evolution-cycle:
  name: instruction ↔ skill ↔ hook consistency
  entry: uv run python scripts/hooks/check_evolution_cycle.py
  language: system
  pass_filenames: false

fix(docs): preserve safe render failures
  docs/site.js
  tests/test_documentation_integrity.py
Due: mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner

docs(mcp): align chronicle runtime guidance
  src/pubmed_search/presentation/mcp_server/instructions.py
  src/pubmed_search/presentation/mcp_server/tools/chronicle.py
Due: vulture, deptry, mypy, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, todo-scanner

docs: align chronicle release guidance
  .claude/skills/pubmed-research-chronicle/SKILL.md
  .github/copilot-instructions.md
  ARCHITECTURE.md
  DEPLOYMENT.md
  README.md
  README.zh-TW.md
  ROADMAP.md
  docs/ALGORITHM_INNOVATION_RESEARCH.md
  docs/COPILOT_HOOKS_PIPELINE_ENFORCEMENT.md
  docs/SOURCE_CONTRACTS.md
  docs/TOOL_CONSOLIDATION_DESIGN.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE.zh-TW.md
  docs/images/timeline-evaluation-workflow.svg
  docs/paper-draft.md
Due: evolution-cycle

docs(site): rebuild v0.6.2 handbook
  docs/site-content.js
  docs/site-content/architecture.md
  docs/site-content/deployment.md
  docs/site-content/overview-zh.md
  docs/site-content/overview.md
  docs/site-content/source-contracts.md
  docs/site-content/user-guide-zh.md
  docs/site-content/user-guide.md
Due: none

chore(release): prepare v0.6.2
  CHANGELOG.md
  CITATION.cff
  Dockerfile
  copilot-studio/openapi-schema.yaml
  pyproject.toml
  src/pubmed_search/__init__.py
  uv.lock
Due: vulture, deptry, mypy, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner, evolution-cycle

docs(memory): checkpoint v0.6.2 chronicle release
  memory-bank/activeContext.md
  memory-bank/architect.md
  memory-bank/decisionLog.md
  memory-bank/productContext.md
  memory-bank/progress.md
  memory-bank/projectBrief.md
  memory-bank/systemPatterns.md
Due: none

fix(hooks): preserve Windows chronicle prompt output
  scripts/hooks/copilot/analyze-prompt.ps1
  tests/test_copilot_hook_policy.py
Due: mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner, evolution-cycle

fix(session): isolate registered tenant routing
  CHANGELOG.md
  src/pubmed_search/presentation/mcp_server/server.py
  src/pubmed_search/presentation/mcp_server/session_tools.py
  src/pubmed_search/presentation/mcp_server/tool_registry.py
  tests/test_multi_tenant_deployment.py
  tests/test_pipeline_report_save.py
  tests/test_tool_registry.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner

docs(memory): refresh v0.6.2 release gate
  memory-bank/activeContext.md
  memory-bank/progress.md
Due: none

docs(memory): record v0.6.2 publication
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/projectBrief.md
Due: none

feat(sources): add governed provider search contracts
  src/pubmed_search/application/search/__init__.py
  src/pubmed_search/application/search/clinical_evidence.py
  src/pubmed_search/application/search/semantic_enhancer.py
  src/pubmed_search/application/search/source_governance.py
  src/pubmed_search/application/search/source_models.py
  src/pubmed_search/domain/entities/article.py
  src/pubmed_search/domain/services/article_mapper.py
  src/pubmed_search/infrastructure/ncbi/search.py
  src/pubmed_search/infrastructure/ncbi/strategy.py
  src/pubmed_search/infrastructure/sources/__init__.py
  src/pubmed_search/infrastructure/sources/base_client.py
  src/pubmed_search/infrastructure/sources/clinical_trials.py
  src/pubmed_search/infrastructure/sources/clinicalkey_ai.py
  src/pubmed_search/infrastructure/sources/core.py
  src/pubmed_search/infrastructure/sources/crossref.py
  src/pubmed_search/infrastructure/sources/europe_pmc.py
  src/pubmed_search/infrastructure/sources/official_generated_clients.py
  src/pubmed_search/infrastructure/sources/openalex.py
  src/pubmed_search/infrastructure/sources/preprints.py
  src/pubmed_search/infrastructure/sources/registry.py
  src/pubmed_search/infrastructure/sources/scopus.py
  src/pubmed_search/infrastructure/sources/semantic_scholar.py
  src/pubmed_search/infrastructure/sources/semantic_scholar_datasets.py
  src/pubmed_search/infrastructure/sources/web_of_science.py
  src/pubmed_search/shared/async_utils.py
  src/pubmed_search/shared/credential_sanitizer.py
  src/pubmed_search/shared/logging_utils.py
  src/pubmed_search/shared/settings.py
  src/pubmed_search/shared/source_contracts.py
  tests/test_sources_init.py
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner

fix(sources): harden provider edges and provenance
  src/pubmed_search/presentation/browser_fetch_broker.py
  src/pubmed_search/presentation/mcp_server/tools/discovery.py
  src/pubmed_search/presentation/mcp_server/tools/europe_pmc.py
  src/pubmed_search/presentation/mcp_server/tools/unified_enrichment.py
  tests/test_async_utils.py
  tests/test_clinical_trials_client.py
  tests/test_clinicalkey_ai.py
  tests/test_credential_sanitizer.py
  tests/test_legacy_source_failure_contract.py
  tests/test_official_generated_clients.py
  tests/test_openalex.py
  tests/test_phase3_pubtator.py
  tests/test_preprints_unified_integration.py
  tests/test_round6_coverage.py
  tests/test_safe_http_logging.py
  tests/test_scopus_client.py
  tests/test_search_query_provenance.py
  tests/test_semantic_scholar.py
  tests/test_semantic_scholar_datasets.py
  tests/test_settings.py
  tests/test_source_contracts.py
  tests/test_source_registry.py
  tests/test_source_search_pages.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, todo-scanner

feat(search): make unified runs durable and bounded
  src/pubmed_search/application/pipeline/executor.py
  src/pubmed_search/application/pipeline/runner.py
  src/pubmed_search/application/pipeline/store.py
  src/pubmed_search/application/session/__init__.py
  src/pubmed_search/application/session/artifact_envelope.py
  src/pubmed_search/application/session/artifacts.py
  src/pubmed_search/application/session/manager.py
  src/pubmed_search/domain/entities/pipeline.py
  src/pubmed_search/infrastructure/scheduling/pipeline_scheduler.py
  src/pubmed_search/presentation/api/server.py
  src/pubmed_search/presentation/mcp_server/http_cli.py
  src/pubmed_search/presentation/mcp_server/server.py
  src/pubmed_search/presentation/mcp_server/session_tools.py
  src/pubmed_search/presentation/mcp_server/tool_registry.py
  src/pubmed_search/presentation/mcp_server/tools/agent_output.py
  src/pubmed_search/presentation/mcp_server/tools/artifact_memory.py
  src/pubmed_search/presentation/mcp_server/tools/search_run_journal.py
  src/pubmed_search/presentation/mcp_server/tools/tool_session.py
  src/pubmed_search/presentation/mcp_server/tools/unified.py
  src/pubmed_search/presentation/mcp_server/tools/unified_execution.py
  src/pubmed_search/presentation/mcp_server/tools/unified_formatting.py
  src/pubmed_search/presentation/mcp_server/tools/unified_helpers.py
  src/pubmed_search/presentation/mcp_server/tools/unified_pipeline.py
  src/pubmed_search/presentation/mcp_server/tools/unified_planning.py
  src/pubmed_search/presentation/mcp_server/tools/unified_request.py
  src/pubmed_search/presentation/mcp_server/tools/unified_runner.py
  src/pubmed_search/presentation/mcp_server/tools/unified_source_search.py
  tests/test_pipeline.py
  tests/test_pipeline_scheduler.py
  tests/test_pipeline_store.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, no-env-inner-layers, source-counts-guard, todo-scanner

test(search): add recovery and transport smoke coverage
  tests/fixtures/offline_unified_mcp_server.py
  tests/test_container.py
  tests/test_mcp_protocol_in_memory.py
  tests/test_pipeline_runner.py
  tests/test_pipeline_source_seam.py
  tests/test_research_artifact_envelope.py
  tests/test_search_run_history.py
  tests/test_search_run_journal.py
  tests/test_session_tools.py
  tests/test_unified_agent_handoff.py
  tests/test_unified_agent_smoke.py
  tests/test_unified_article.py
  tests/test_unified_broker_correctness.py
  tests/test_unified_comprehensive.py
  tests/test_unified_deep_execution.py
  tests/test_unified_input_validation.py
  tests/test_unified_logging_privacy.py
  tests/test_unified_pipeline_recovery.py
  tests/test_unified_provider_modes.py
  tests/test_unified_search.py
  tests/test_unified_tools.py
Due: mypy, async-test-checker, future-annotations, no-type-ignore-bare, source-counts-guard, todo-scanner

feat(agents): align Copilot with unified search recovery
  .claude/skills/pipeline-persistence/SKILL.md
  .claude/skills/pubmed-multi-source-search/SKILL.md
  .claude/skills/pubmed-quick-search/SKILL.md
  .claude/skills/pubmed-systematic-search/SKILL.md
  .github/agents/research.agent.md
  .github/copilot-instructions.md
  .github/hooks/copilot-tool-policy.json
  .github/hooks/pipeline-enforcer.json
  copilot-studio/README.md
  copilot-studio/openapi-schema.yaml
  docs/COPILOT_HOOKS_PIPELINE_ENFORCEMENT.md
  run_copilot.py
  scripts/hooks/copilot/analyze-prompt.ps1
  scripts/hooks/copilot/analyze-prompt.sh
  scripts/hooks/copilot/enforce-pipeline.ps1
  scripts/hooks/copilot/enforce-pipeline.sh
  scripts/hooks/copilot/evaluate-results.ps1
  scripts/hooks/copilot/evaluate-results.sh
  scripts/hooks/copilot/hook_runtime.py
  scripts/hooks/copilot/session-cleanup.ps1
  scripts/hooks/copilot/session-cleanup.sh
  scripts/hooks/copilot/session-init.ps1
  scripts/hooks/copilot/session-init.sh
  scripts/test-copilot-mcp.py
  src/pubmed_search/presentation/mcp_server/copilot_tools.py
  tests/test_agent_docs_alignment.py
  tests/test_copilot_hook_integration.py
  tests/test_copilot_hook_policy.py
  tests/test_copilot_tools.py
  tests/test_copilot_tools_extended.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner, evolution-cycle

docs(search): refresh provider and recovery guidance
  ARCHITECTURE.md
  DEPLOYMENT.md
  README.md
  README.zh-TW.md
  ROADMAP.md
  docs/BIOMCP_ARCHITECTURE_ANALYSIS.md
  docs/CLINICALKEY_AI_INTEGRATION.md
  docs/INTEGRATIONS.md
  docs/OPENALEX_API.md
  docs/PHASE_2.1_TOOL_REFACTOR.md
  docs/SEMANTIC_SCHOLAR_API.md
  docs/SOURCE_CONTRACTS.md
  docs/TOOLS_USAGE_GUIDE.md
  docs/TOOLS_USAGE_GUIDE.zh-TW.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE.zh-TW.md
  docs/competitor-analysis.md
  scripts/build_docs_site.py
  scripts/build_github_wiki.py
Due: vulture, mypy

chore(release): prepare v0.6.3
  .clinerules/workflows/pubmed-release-publish.md
  .github/workflows/publish.yml
  CHANGELOG.md
  CITATION.cff
  Dockerfile
  docs/index.html
  docs/site-content.js
  docs/site-content/architecture.md
  docs/site-content/biomcp-analysis.md
  docs/site-content/clinicalkey-ai.md
  docs/site-content/deployment.md
  docs/site-content/openalex-api.md
  docs/site-content/overview-zh.md
  docs/site-content/overview.md
  docs/site-content/semantic-scholar-api.md
  docs/site-content/source-contracts.md
  docs/site-content/tools-usage-guide-zh.md
  docs/site-content/tools-usage-guide.md
  docs/site-content/troubleshooting.md
  docs/site-content/user-guide-zh.md
  docs/site-content/user-guide.md
  docs/site.js
  pyproject.toml
  src/pubmed_search/__init__.py
  tests/test_docs_site_sync.py
  tests/test_documentation_integrity.py
  tests/test_github_wiki_build.py
  tests/test_tool_registry.py
  uv.lock
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner, evolution-cycle

fix(hooks): preserve cross-platform runtime contracts
  scripts/hooks/copilot/analyze-prompt.ps1
  scripts/hooks/copilot/enforce-pipeline.ps1
  scripts/hooks/copilot/evaluate-results.ps1
  scripts/hooks/copilot/hook_runtime.py
  scripts/hooks/copilot/session-cleanup.ps1
  scripts/hooks/copilot/session-init.ps1
  tests/test_copilot_hook_policy.py
Due: vulture, mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner, evolution-cycle

fix(release): target repository without checkout
  .github/workflows/publish.yml
  tests/test_documentation_integrity.py
Due: mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner

chore(deps): refresh standalone lock
  pyproject.toml
  uv.lock
Due: deptry, evolution-cycle

chore(mcp): remove stale FastMCP wording
  src/pubmed_search/presentation/mcp_server/tools/chronicle.py
Due: vulture, deptry, mypy, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, todo-scanner

test(ci): make callback deadline assertion deterministic
  tests/test_europe_pmc_tools.py
Due: mypy, async-test-checker, future-annotations, no-type-ignore-bare, todo-scanner

fix(chronicle): continue a chronicle with its stored retrieval scope
  .claude/skills/pubmed-research-chronicle/SKILL.md
  CHANGELOG.md
  CITATION.cff
  DEPLOYMENT.md
  Dockerfile
  copilot-studio/openapi-schema.yaml
  docs/reports/research_chronicle_remimazolam_evaluation_report.md
  docs/site-content.js
  docs/site-content/deployment.md
  pyproject.toml
  src/pubmed_search/__init__.py
  src/pubmed_search/application/chronicle/service.py
  src/pubmed_search/presentation/mcp_server/instructions.py
  src/pubmed_search/presentation/mcp_server/tools/chronicle.py
  tests/test_chronicle.py
  uv.lock
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, no-env-inner-layers, todo-scanner, evolution-cycle

fix(hooks): repair the bandit security gate and test-naming scope
  .pre-commit-config.yaml
Due: evolution-cycle

fix(chronicle): drop out-of-range stored filters instead of failing
  src/pubmed_search/application/chronicle/service.py
  tests/test_chronicle.py
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner

docs(website): enrich Research Chronicle documentation and visual diagrams
  docs/ADVANCED_RESEARCH_WORKFLOWS.md
  docs/ADVANCED_RESEARCH_WORKFLOWS.zh-TW.md
  docs/TOOLS_USAGE_GUIDE.md
  docs/TOOLS_USAGE_GUIDE.zh-TW.md
  docs/USER_GUIDE.md
  docs/USER_GUIDE.zh-TW.md
  docs/images/research-chronicle-lineage-flow.svg
  docs/site-content.js
  docs/site-content/advanced-workflows-zh.md
  docs/site-content/advanced-workflows.md
  docs/site-content/tools-usage-guide-zh.md
  docs/site-content/tools-usage-guide.md
  docs/site-content/user-guide-zh.md
  docs/site-content/user-guide.md
Due: none

docs(readme): sync Research Chronicle architecture diagram and examples to overview
  README.md
  README.zh-TW.md
  docs/images/research-workflow.svg
  docs/site-content.js
  docs/site-content/overview-zh.md
  docs/site-content/overview.md
Due: none

feat(docs): major human-friendly revamp of documentation website
  docs/index.html
  docs/site.css
  docs/site.js
Due: none

refactor(domain): add strict biomedical identifier contracts
  src/pubmed_search/domain/entities/article.py
  src/pubmed_search/domain/value_objects/__init__.py
  src/pubmed_search/domain/value_objects/article_identifiers.py
  src/pubmed_search/domain/value_objects/icd_codes.py
  src/pubmed_search/domain/value_objects/ncbi_identifiers.py
  tests/test_article_extended.py
  tests/test_icd_application_boundary.py
  tests/test_icd_conversion.py
  tests/test_input_normalizer.py
  tests/test_pico_plan.py
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner

refactor(shared): consolidate runtime primitives
  src/pubmed_search/infrastructure/cache/entity_cache.py
  src/pubmed_search/shared/async_utils.py
  src/pubmed_search/shared/bounded_tasks.py
  src/pubmed_search/shared/cache_substrate.py
  src/pubmed_search/shared/credential_sanitizer.py
  src/pubmed_search/shared/exceptions.py
  src/pubmed_search/shared/markdown.py
  src/pubmed_search/shared/profiling.py
  src/pubmed_search/shared/settings.py
  src/pubmed_search/shared/source_contracts.py
  src/pubmed_search/shared/tenancy.py
  tests/test_async_utils.py
  tests/test_cache_substrate.py
  tests/test_credential_sanitizer.py
  tests/test_markdown_safety.py
  tests/test_multi_tenant_deployment.py
  tests/test_performance.py
  tests/test_performance_optimizations.py
  tests/test_profiling.py
  tests/test_settings.py
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner

refactor(sources): harden HTTP and source runtime boundaries
  src/pubmed_search/application/search/source_models.py
  src/pubmed_search/infrastructure/http/__init__.py
  src/pubmed_search/infrastructure/http/pubmed_client.py
  src/pubmed_search/infrastructure/http/safe_outbound.py
  src/pubmed_search/infrastructure/provider_payload.py
  src/pubmed_search/infrastructure/sources/__init__.py
  src/pubmed_search/infrastructure/sources/article_mapper.py
  src/pubmed_search/infrastructure/sources/base_client.py
  src/pubmed_search/infrastructure/sources/browser_session.py
  src/pubmed_search/infrastructure/sources/contact.py
  src/pubmed_search/infrastructure/sources/official_generated_clients.py
  src/pubmed_search/infrastructure/sources/profiling.py
  src/pubmed_search/infrastructure/sources/registry.py
  src/pubmed_search/infrastructure/sources/runtime.py
  src/pubmed_search/presentation/browser_fetch_broker.py
  tests/test_base_client_response_limits.py
  tests/test_browser_fetch_broker_security.py
  tests/test_client.py
  tests/test_official_generated_clients.py
  tests/test_provider_failure_contracts.py
  tests/test_safe_outbound_http.py
  tests/test_source_adapter_failure_contracts.py
  tests/test_source_contracts.py
  tests/test_source_registry.py
  tests/test_source_runtime_isolation.py
  tests/test_source_search_pages.py
  tests/test_sources_init.py
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner

fix(ncbi): enforce strict Entrez response contracts
  src/pubmed_search/infrastructure/ncbi/__init__.py
  src/pubmed_search/infrastructure/ncbi/base.py
  src/pubmed_search/infrastructure/ncbi/batch.py
  src/pubmed_search/infrastructure/ncbi/citation.py
  src/pubmed_search/infrastructure/ncbi/citation_exporter.py
  src/pubmed_search/infrastructure/ncbi/icite.py
  src/pubmed_search/infrastructure/ncbi/pdf.py
  src/pubmed_search/infrastructure/ncbi/search.py
  src/pubmed_search/infrastructure/ncbi/strategy.py
  src/pubmed_search/infrastructure/ncbi/utils.py
  src/pubmed_search/infrastructure/sources/ncbi_extended.py
  src/pubmed_search/presentation/mcp_server/tools/ncbi_extended.py
  tests/test_core_ncbi_extended.py
  tests/test_entrez_modules.py
  tests/test_ncbi_extended.py
  tests/test_ncbi_extended_tools.py
  tests/test_ncbi_failure_contract.py
  tests/test_ncbi_provider_schema_contracts.py
  tests/test_search_and_discovery.py
  tests/test_utils_and_coverage.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, todo-scanner

fix(sources): harden general literature providers
  src/pubmed_search/infrastructure/sources/clinical_trials.py
  src/pubmed_search/infrastructure/sources/core.py
  src/pubmed_search/infrastructure/sources/crossref.py
  src/pubmed_search/infrastructure/sources/europe_pmc.py
  src/pubmed_search/infrastructure/sources/openalex.py
  src/pubmed_search/infrastructure/sources/preprints.py
  src/pubmed_search/infrastructure/sources/scopus.py
  src/pubmed_search/infrastructure/sources/web_of_science.py
  src/pubmed_search/presentation/mcp_server/tools/europe_pmc.py
  tests/test_clinical_trials_client.py
  tests/test_crossref_client.py
  tests/test_europe_pmc.py
  tests/test_europe_pmc_tools.py
  tests/test_europe_pmc_tools_extended.py
  tests/test_journal_metrics.py
  tests/test_openalex.py
  tests/test_preprints_comprehensive.py
  tests/test_scopus_client.py
  tests/test_web_of_science_client.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, todo-scanner

refactor(pubtator): add semantic provider adapters
  src/pubmed_search/infrastructure/pubtator/semantic_adapter.py
Due: vulture, deptry, mypy, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner

refactor(search): centralize query planning and ranking
  src/pubmed_search/application/search/__init__.py
  src/pubmed_search/application/search/icd.py
  src/pubmed_search/application/search/pico_plan.py
  src/pubmed_search/application/search/query_analyzer.py
  src/pubmed_search/application/search/ranking_algorithms.py
  src/pubmed_search/application/search/result_aggregator.py
  src/pubmed_search/application/search/semantic_enhancer.py
  src/pubmed_search/presentation/mcp_server/tools/icd.py
  src/pubmed_search/presentation/mcp_server/tools/pico.py
  src/pubmed_search/presentation/mcp_server/tools/strategy.py
  tests/test_advanced_filters.py
  tests/test_composite_params.py
  tests/test_ranking_algorithms.py
  tests/test_result_aggregator.py
  tests/test_search_query_provenance.py
  tests/test_strategy.py
  tests/test_strategy_tools.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, no-env-inner-layers, todo-scanner

refactor(pubtator): align semantic provider clients
  src/pubmed_search/infrastructure/pubtator/__init__.py
  src/pubmed_search/infrastructure/pubtator/client.py
  src/pubmed_search/infrastructure/pubtator/models.py
  src/pubmed_search/infrastructure/sources/semantic_scholar.py
  src/pubmed_search/infrastructure/sources/semantic_scholar_datasets.py
  tests/test_phase3_pubtator.py
  tests/test_pubtator_client.py
  tests/test_semantic_scholar.py
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, todo-scanner

refactor(unified): establish the application search use case
  src/pubmed_search/application/unified/__init__.py
  src/pubmed_search/application/unified/clinical_trials.py
  src/pubmed_search/application/unified/execution.py
  src/pubmed_search/application/unified/helpers.py
  src/pubmed_search/application/unified/planning.py
  src/pubmed_search/application/unified/policies.py
  src/pubmed_search/application/unified/request.py
  src/pubmed_search/application/unified/service.py
  src/pubmed_search/application/unified/use_case.py
  src/pubmed_search/infrastructure/sources/unified_broker.py
  src/pubmed_search/infrastructure/sources/unified_enrichment.py
  tests/test_auto_relaxation.py
  tests/test_preprints_unified_integration.py
  tests/test_pubmed_search_page.py
  tests/test_unified_broker_correctness.py
  tests/test_unified_clinical_trials_contract.py
  tests/test_unified_enrichment_quality.py
  tests/test_unified_provider_modes.py
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner

refactor(unified): remove presentation orchestration facades
  src/pubmed_search/presentation/mcp_server/tools/core.py
  src/pubmed_search/presentation/mcp_server/tools/merge.py
  src/pubmed_search/presentation/mcp_server/tools/unified.py
  src/pubmed_search/presentation/mcp_server/tools/unified_enrichment.py
  src/pubmed_search/presentation/mcp_server/tools/unified_execution.py
  src/pubmed_search/presentation/mcp_server/tools/unified_formatting.py
  src/pubmed_search/presentation/mcp_server/tools/unified_helpers.py
  src/pubmed_search/presentation/mcp_server/tools/unified_planning.py
  src/pubmed_search/presentation/mcp_server/tools/unified_request.py
  src/pubmed_search/presentation/mcp_server/tools/unified_runner.py
  src/pubmed_search/presentation/mcp_server/tools/unified_source_search.py
  tests/test_unified_agent_handoff.py
  tests/test_unified_agent_smoke.py
  tests/test_unified_comprehensive.py
  tests/test_unified_deep_execution.py
  tests/test_unified_input_validation.py
  tests/test_unified_pipeline_recovery.py
  tests/test_unified_search.py
  tests/test_unified_tools.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, source-counts-guard, todo-scanner

refactor(pipeline): formalize action and template contracts
  data/pipeline_examples/ai_in_anesthesiology.yaml
  data/pipeline_examples/comprehensive_crispr_therapy.yaml
  data/pipeline_examples/exploration_seed_paper.yaml
  data/pipeline_examples/gene_drug_brca1.yaml
  data/pipeline_examples/pico_remimazolam_vs_propofol.yaml
  src/pubmed_search/application/pipeline/__init__.py
  src/pubmed_search/application/pipeline/action_contracts.py
  src/pubmed_search/application/pipeline/budgets.py
  src/pubmed_search/application/pipeline/config_parser.py
  src/pubmed_search/application/pipeline/schema.py
  src/pubmed_search/application/pipeline/template_contracts.py
  src/pubmed_search/application/pipeline/templates.py
  src/pubmed_search/application/pipeline/validator.py
  src/pubmed_search/domain/entities/pipeline.py
  tests/test_pipeline_action_contracts.py
  tests/test_pipeline_integrity.py
  tests/test_pipeline_schema.py
  tests/test_pipeline_source_seam.py
  tests/test_pipeline_validator.py
Due: vulture, deptry, mypy, async-test-checker, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, no-env-inner-layers, todo-scanner

refactor(pipeline): harden execution and persistence
  src/pubmed_search/application/pipeline/executor.py
  src/pubmed_search/application/pipeline/report_generator.py
  src/pubmed_search/application/pipeline/runner.py
  src/pubmed_search/application/pipeline/store.py
  src/pubmed_search/infrastructure/scheduling/pipeline_scheduler.py
  src/pubmed_search/presentation/mcp_server/tools/pipeline_tools.py
  src/pubmed_search/presentation/mcp_server/tools/unified_pipeline.py
  tests/test_mcp_v2_pipeline_concurrency.py
  tests/test_pipeline.py
  tests/test_pipeline_report.py
  tests/test_pipeline_report_save.py
  tests/test_pipeline_runner.py
  tests/test_pipeline_scheduler.py
  tests/test_pipeline_store.py
  tests/test_pipeline_tools.py
Due: vulture, deptry, mypy, async-test-checker, tool-count-sync, future-annotations, no-print-in-src, ddd-layer-imports, no-type-ignore-bare, docstring-tools, no-env-inner-layers, source-counts-guard, todo-scanner

Path conditions:
  vulture: any of: ^(src|scripts)/ and \.py$
  deptry: any of: ^(src/|pyproject\.toml)
  mypy: any of: \.py$
  async-test-checker: any of: ^tests/
  tool-count-sync: any of: ^src/pubmed_search/presentation/mcp_server/
  future-annotations: any of: ^(src|tests)/.*\.py$
  no-print-in-src: any of: ^src/.*\.py$
  ddd-layer-imports: any of: ^src/pubmed_search/
  no-type-ignore-bare: any of: ^(src|tests)/.*\.py$
  docstring-tools: any of: ^src/pubmed_search/presentation/mcp_server/tools/
  no-env-inner-layers: any of: ^src/pubmed_search/(domain|application|shared)/
  source-counts-guard: any of: ^(src/pubmed_search/presentation/mcp_server/tools/unified\.py|tests/test_unified_tools\.py|tests/test_pipeline\.py)$
  todo-scanner: any of: ^(src|tests)/.*\.py$
  evolution-cycle: any of: (\.pre-commit-config\.yaml|copilot-instructions\.md|SKILL\.md|CONTRIBUTING\.md|pyproject\.toml|scripts/hooks/)
