Repository u9401066/pubmed-search-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, async-test-checker, tool-count-sync, evolution-cycle

Path conditions:
  mypy: any of: \.py$
  async-test-checker: any of: ^tests/
  tool-count-sync: any of: ^src/pubmed_search/presentation/mcp_server/
  evolution-cycle: any of: (\.pre-commit-config\.yaml|copilot-instructions\.md|SKILL\.md|CONTRIBUTING\.md|pyproject\.toml|scripts/hooks/)

refactor: remove dead code replace hand-rolled retry/HTTP with tenacity/httpx
  .github/copilot-instructions.md
  .pre-commit-config.yaml
  scripts/hooks/check_commit_size.py
  src/pubmed_search/infrastructure/http/__init__.py
  src/pubmed_search/infrastructure/http/client.py
  src/pubmed_search/infrastructure/ncbi/search.py
  src/pubmed_search/shared/__init__.py
  src/pubmed_search/shared/async_utils.py
  tests/test_async_utils.py
  tests/test_comprehensive_coverage.py
  tests/test_core_module.py
  tests/test_http_client.py
Due: mypy, async-test-checker, evolution-cycle

feat: add DI container (dependency-injector) + lifecycle management + pytest-benchmark
  .gitignore
  pyproject.toml
  run_copilot.py
  run_server.py
  src/pubmed_search/container.py
  src/pubmed_search/presentation/mcp_server/server.py
  tests/benchmarks/__init__.py
  tests/benchmarks/test_benchmarks.py
  tests/test_container.py
  uv.lock
Due: mypy, async-test-checker, tool-count-sync, evolution-cycle

chore: add 14 pre-commit hooks (bandit, vulture, deptry, semgrep, 7 custom)
  .claude/skills/git-precommit/SKILL.md
  .github/copilot-instructions.md
  .pre-commit-config.yaml
  CONTRIBUTING.md
  pyproject.toml
  scripts/hooks/check_ddd_layers.py
  scripts/hooks/check_docstring_tools.py
  scripts/hooks/check_env_config.py
  scripts/hooks/check_evolution_cycle.py
  scripts/hooks/check_future_annotations.py
  scripts/hooks/check_no_print.py
  scripts/hooks/check_todo_scanner.py
  scripts/hooks/check_type_ignore.py
  vulture_whitelist.py
Due: mypy, evolution-cycle

fix: add missing await + fix citation mapping (2 real bugs + 1 logic bug)
  src/pubmed_search/application/timeline/timeline_builder.py
  src/pubmed_search/infrastructure/sources/fulltext_download.py
  tests/test_round6_part2.py
  tests/test_timeline_builder.py
Due: mypy, async-test-checker

refactor(domain+app): enforce mypy strict type annotations
  src/pubmed_search/__init__.py
  src/pubmed_search/application/__init__.py
  src/pubmed_search/application/export/__init__.py
  src/pubmed_search/application/export/formats.py
  src/pubmed_search/application/export/links.py
  src/pubmed_search/application/image_search/__init__.py
  src/pubmed_search/application/image_search/service.py
  src/pubmed_search/application/search/__init__.py
  src/pubmed_search/application/search/query_analyzer.py
  src/pubmed_search/application/search/query_validator.py
  src/pubmed_search/application/search/result_aggregator.py
  src/pubmed_search/application/search/semantic_enhancer.py
  src/pubmed_search/application/session/__init__.py
  src/pubmed_search/application/session/manager.py
  src/pubmed_search/application/timeline/__init__.py
  src/pubmed_search/domain/__init__.py
  src/pubmed_search/domain/entities/__init__.py
  src/pubmed_search/domain/entities/article.py
  src/pubmed_search/domain/entities/timeline.py
Due: mypy

refactor(infra): enforce mypy strict type annotations
  src/pubmed_search/infrastructure/__init__.py
  src/pubmed_search/infrastructure/cache/__init__.py
  src/pubmed_search/infrastructure/cache/entity_cache.py
  src/pubmed_search/infrastructure/http/__init__.py
  src/pubmed_search/infrastructure/http/pubmed_client.py
  src/pubmed_search/infrastructure/ncbi/__init__.py
  src/pubmed_search/infrastructure/ncbi/base.py
  src/pubmed_search/infrastructure/ncbi/batch.py
  src/pubmed_search/infrastructure/ncbi/citation.py
  src/pubmed_search/infrastructure/ncbi/citation_exporter.py
  src/pubmed_search/infrastructure/ncbi/icite.py
  src/pubmed_search/infrastructure/ncbi/pdf.py
  src/pubmed_search/infrastructure/ncbi/search.py
  src/pubmed_search/infrastructure/ncbi/strategy.py
  src/pubmed_search/infrastructure/ncbi/utils.py
  src/pubmed_search/infrastructure/pubtator/__init__.py
  src/pubmed_search/infrastructure/pubtator/client.py
  src/pubmed_search/infrastructure/pubtator/models.py
  src/pubmed_search/infrastructure/sources/__init__.py
  src/pubmed_search/infrastructure/sources/base_client.py
  src/pubmed_search/infrastructure/sources/clinical_trials.py
  src/pubmed_search/infrastructure/sources/core.py
  src/pubmed_search/infrastructure/sources/crossref.py
  src/pubmed_search/infrastructure/sources/europe_pmc.py
  src/pubmed_search/infrastructure/sources/ncbi_extended.py
  src/pubmed_search/infrastructure/sources/openalex.py
  src/pubmed_search/infrastructure/sources/openi.py
  src/pubmed_search/infrastructure/sources/openurl.py
  src/pubmed_search/infrastructure/sources/preprints.py
  src/pubmed_search/infrastructure/sources/semantic_scholar.py
  src/pubmed_search/infrastructure/sources/unpaywall.py
Due: mypy

refactor(presentation+shared): enforce mypy strict type annotations
  src/pubmed_search/presentation/__init__.py
  src/pubmed_search/presentation/api/__init__.py
  src/pubmed_search/presentation/api/server.py
  src/pubmed_search/presentation/mcp_server/__init__.py
  src/pubmed_search/presentation/mcp_server/__main__.py
  src/pubmed_search/presentation/mcp_server/copilot_tools.py
  src/pubmed_search/presentation/mcp_server/instructions.py
  src/pubmed_search/presentation/mcp_server/prompts.py
  src/pubmed_search/presentation/mcp_server/resources.py
  src/pubmed_search/presentation/mcp_server/server.py
  src/pubmed_search/presentation/mcp_server/session_tools.py
  src/pubmed_search/presentation/mcp_server/tool_registry.py
  src/pubmed_search/presentation/mcp_server/tools/__init__.py
  src/pubmed_search/presentation/mcp_server/tools/_common.py
  src/pubmed_search/presentation/mcp_server/tools/citation_tree.py
  src/pubmed_search/presentation/mcp_server/tools/core.py
  src/pubmed_search/presentation/mcp_server/tools/discovery.py
  src/pubmed_search/presentation/mcp_server/tools/europe_pmc.py
  src/pubmed_search/presentation/mcp_server/tools/export.py
  src/pubmed_search/presentation/mcp_server/tools/icd.py
  src/pubmed_search/presentation/mcp_server/tools/image_search.py
  src/pubmed_search/presentation/mcp_server/tools/merge.py
  src/pubmed_search/presentation/mcp_server/tools/ncbi_extended.py
  src/pubmed_search/presentation/mcp_server/tools/openurl.py
  src/pubmed_search/presentation/mcp_server/tools/pico.py
  src/pubmed_search/presentation/mcp_server/tools/strategy.py
  src/pubmed_search/presentation/mcp_server/tools/timeline.py
  src/pubmed_search/presentation/mcp_server/tools/unified.py
  src/pubmed_search/presentation/mcp_server/tools/vision_search.py
  src/pubmed_search/shared/__init__.py
  src/pubmed_search/shared/async_utils.py
  src/pubmed_search/shared/exceptions.py
Due: mypy, tool-count-sync

docs: update CHANGELOG, memory-bank for v0.3.10
  CHANGELOG.md
  memory-bank/activeContext.md
  memory-bank/progress.md
  uv.lock
Due: none

fix: mark shebang scripts as executable (git chmod +x)
  scripts/hooks/check_ddd_layers.py
  scripts/hooks/check_docstring_tools.py
  scripts/hooks/check_env_config.py
  scripts/hooks/check_evolution_cycle.py
  scripts/hooks/check_future_annotations.py
  scripts/hooks/check_no_print.py
  scripts/hooks/check_todo_scanner.py
  scripts/hooks/check_type_ignore.py
  tests/test_advanced_filters.py
  tests/test_client.py
  tests/test_icd_conversion.py
Due: mypy, async-test-checker, evolution-cycle

feat(v0.4.0): pipeline system, CORE integration, parameter consolidation
  .claude/skills/pubmed-mcp-tools-reference/SKILL.md
  .github/copilot-instructions.md
  .pre-commit-config.yaml
  README.md
  README.zh-TW.md
  docs/ALGORITHM_INNOVATION_RESEARCH.md
  pyproject.toml
  src/pubmed_search/application/pipeline/__init__.py
  src/pubmed_search/application/pipeline/executor.py
  src/pubmed_search/application/pipeline/templates.py
  src/pubmed_search/domain/entities/article.py
  src/pubmed_search/domain/entities/pipeline.py
  src/pubmed_search/infrastructure/http/pubmed_client.py
  src/pubmed_search/infrastructure/sources/base_client.py
  src/pubmed_search/infrastructure/sources/core.py
  src/pubmed_search/infrastructure/sources/fulltext_download.py
  src/pubmed_search/presentation/mcp_server/TOOLS_INDEX.md
  src/pubmed_search/presentation/mcp_server/instructions.py
  src/pubmed_search/presentation/mcp_server/tool_registry.py
  src/pubmed_search/presentation/mcp_server/tools/__init__.py
  src/pubmed_search/presentation/mcp_server/tools/icd.py
  src/pubmed_search/presentation/mcp_server/tools/unified.py
  tests/test_article_extended.py
  tests/test_composite_params.py
  tests/test_core_ncbi_extended.py
  tests/test_pipeline.py
  tests/test_round6_coverage.py
  tests/test_unified_tools.py
  uv.lock
Due: mypy, async-test-checker, tool-count-sync, evolution-cycle

chore: docs sync, pre-commit fixes, executable permissions
  CHANGELOG.md
  CONTRIBUTING.md
  memory-bank/activeContext.md
  run_copilot.py
  run_server.py
  scripts/check_async_tests.py
  scripts/count_mcp_tools.py
  scripts/hooks/check_commit_size.py
  scripts/hooks/check_file_hygiene.py
  scripts/hooks/check_tool_sync.py
  scripts/run_all_tests.ps1
  scripts/run_mutation_tests.ps1
  scripts/run_security_scan.ps1
  scripts/test-copilot-mcp.py
Due: mypy, evolution-cycle

feat: per-source API return counts + source-counts-guard hook
  .claude/skills/git-precommit/SKILL.md
  .github/copilot-instructions.md
  .pre-commit-config.yaml
  CONTRIBUTING.md
  scripts/hooks/check_source_counts.py
  src/pubmed_search/application/pipeline/executor.py
  src/pubmed_search/presentation/mcp_server/instructions.py
  src/pubmed_search/presentation/mcp_server/tools/unified.py
  tests/test_pipeline.py
  tests/test_unified_tools.py
Due: mypy, async-test-checker, tool-count-sync, evolution-cycle

docs: pipeline persistence RFC with 6 tools + dual-scope storage
  ARCHITECTURE.md
  docs/PIPELINE_PERSISTENCE_DESIGN.md
Due: none

feat: implement pipeline persistence Phase 1 - CRUD + auto-validation
  .claude/skills/pubmed-mcp-tools-reference/SKILL.md
  .github/copilot-instructions.md
  README.md
  README.zh-TW.md
  scripts/hooks/check_file_hygiene.py
  src/pubmed_search/application/pipeline/__init__.py
  src/pubmed_search/application/pipeline/store.py
  src/pubmed_search/application/pipeline/validator.py
  src/pubmed_search/domain/entities/pipeline.py
  src/pubmed_search/presentation/mcp_server/TOOLS_INDEX.md
  src/pubmed_search/presentation/mcp_server/instructions.py
  src/pubmed_search/presentation/mcp_server/tool_registry.py
  src/pubmed_search/presentation/mcp_server/tools/__init__.py
  src/pubmed_search/presentation/mcp_server/tools/pipeline_tools.py
  tests/test_pipeline_store.py
  tests/test_pipeline_tools.py
  tests/test_pipeline_validator.py
  tests/test_tool_registry.py
  vulture_whitelist.py
Due: mypy, async-test-checker, tool-count-sync, evolution-cycle

feat: unified_search saved: prefix + pipeline skill + README docs
  .claude/skills/pipeline-persistence/SKILL.md
  README.md
  README.zh-TW.md
  src/pubmed_search/presentation/mcp_server/tools/pipeline_tools.py
  src/pubmed_search/presentation/mcp_server/tools/unified.py
Due: mypy, tool-count-sync, evolution-cycle

feat: add pipeline ReportGenerator with production-grade Markdown reports
  data/pipeline_examples/ai_in_anesthesiology.yaml
  data/pipeline_examples/comprehensive_crispr_therapy.yaml
  data/pipeline_examples/exploration_seed_paper.yaml
  data/pipeline_examples/gene_drug_brca1.yaml
  data/pipeline_examples/pico_remimazolam_vs_propofol.yaml
  src/pubmed_search/application/pipeline/__init__.py
  src/pubmed_search/application/pipeline/report_generator.py
  src/pubmed_search/presentation/mcp_server/tools/unified.py
  tests/test_pipeline.py
  tests/test_pipeline_report.py
Due: mypy, async-test-checker, tool-count-sync

feat: add Copilot Hooks pipeline enforcement with encoding hardening
  .github/hooks/pipeline-enforcer.json
  .gitignore
  CHANGELOG.md
  docs/COPILOT_HOOKS_PIPELINE_ENFORCEMENT.md
  docs/DEEP_RESEARCH_ARCHITECTURE_ANALYSIS.md
  scripts/hooks/copilot/analyze-prompt.ps1
  scripts/hooks/copilot/analyze-prompt.sh
  scripts/hooks/copilot/enforce-pipeline.ps1
  scripts/hooks/copilot/enforce-pipeline.sh
  scripts/hooks/copilot/evaluate-results.ps1
  scripts/hooks/copilot/evaluate-results.sh
  scripts/hooks/copilot/session-cleanup.ps1
  scripts/hooks/copilot/session-cleanup.sh
  scripts/hooks/copilot/session-init.ps1
  scripts/hooks/copilot/session-init.sh
Due: evolution-cycle

fix: add -NoProfile to Copilot Hooks powershell commands
  .github/hooks/pipeline-enforcer.json
Due: none

feat: add research workflow tracker via Copilot Hooks instructions injection
  CHANGELOG.md
  docs/COPILOT_HOOKS_PIPELINE_ENFORCEMENT.md
  scripts/hooks/copilot/analyze-prompt.ps1
  scripts/hooks/copilot/analyze-prompt.sh
  scripts/hooks/copilot/evaluate-results.ps1
  scripts/hooks/copilot/evaluate-results.sh
  scripts/hooks/copilot/session-init.ps1
  scripts/hooks/copilot/session-init.sh
Due: evolution-cycle

fix: Unpaywall DOI slash encoding causing 422 errors
  src/pubmed_search/infrastructure/sources/unpaywall.py
  tests/test_unpaywall.py
Due: mypy, async-test-checker

release: v0.4.0 pipeline system, CORE integration, Copilot Hooks, per-source counts
  CHANGELOG.md
  pyproject.toml
Due: evolution-cycle

refactor(v0.4.1): unified.py modular split + pipeline report auto-save
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
  scripts/hooks/check_source_counts.py
  src/pubmed_search/application/pipeline/store.py
  src/pubmed_search/presentation/mcp_server/tool_registry.py
  src/pubmed_search/presentation/mcp_server/tools/unified.py
  src/pubmed_search/presentation/mcp_server/tools/unified_enrichment.py
  src/pubmed_search/presentation/mcp_server/tools/unified_formatting.py
  src/pubmed_search/presentation/mcp_server/tools/unified_helpers.py
  src/pubmed_search/presentation/mcp_server/tools/unified_pipeline.py
  src/pubmed_search/presentation/mcp_server/tools/unified_source_search.py
  tests/test_auto_relaxation.py
  tests/test_journal_metrics.py
  tests/test_pipeline_report_save.py
  tests/test_round6_coverage.py
  tests/test_unified_comprehensive.py
  tests/test_unified_tools.py
  uv.lock
Due: mypy, async-test-checker, tool-count-sync, evolution-cycle

feat(v0.4.2): BM25 + RRF + MMR + Source Disagreement + Reproducibility Score
  CHANGELOG.md
  pyproject.toml
  src/pubmed_search/application/search/__init__.py
  src/pubmed_search/application/search/ranking_algorithms.py
  src/pubmed_search/application/search/reproducibility.py
  src/pubmed_search/application/search/result_aggregator.py
  src/pubmed_search/presentation/mcp_server/tools/unified.py
  src/pubmed_search/presentation/mcp_server/tools/unified_formatting.py
  tests/test_ranking_algorithms.py
  tests/test_reproducibility.py
  uv.lock
Due: mypy, async-test-checker, tool-count-sync, evolution-cycle

feat(v0.4.3): Landmark Paper Detection + Research Lineage Tree
  .claude/skills/git-precommit/SKILL.md
  .github/copilot-instructions.md
  .pre-commit-config.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  README.zh-TW.md
  docs/arxiv-paper/.gitignore
  docs/arxiv-paper/main.pdf
  docs/arxiv-paper/main.tex
  docs/arxiv-paper/references.bib
  pyproject.toml
  scripts/hooks/check_ddd_layers.py
  src/pubmed_search/application/timeline/__init__.py
  src/pubmed_search/application/timeline/branch_detector.py
  src/pubmed_search/application/timeline/landmark_scorer.py
  src/pubmed_search/application/timeline/milestone_detector.py
  src/pubmed_search/application/timeline/timeline_builder.py
  src/pubmed_search/domain/entities/__init__.py
  src/pubmed_search/domain/entities/research_tree.py
  src/pubmed_search/domain/entities/timeline.py
  src/pubmed_search/presentation/mcp_server/tools/timeline.py
  tests/test_landmark_scorer.py
  tests/test_research_tree.py
  tests/test_timeline_builder.py
  uv.lock
  vulture_whitelist.py
Due: mypy, async-test-checker, tool-count-sync, evolution-cycle

feat(v0.4.4): Article Figure Extraction — get_article_figures + FigureClient
  .claude/skills/pubmed-mcp-tools-reference/SKILL.md
  .github/copilot-instructions.md
  CHANGELOG.md
  README.md
  README.zh-TW.md
  ROADMAP.md
  docs/MCP_Visual_Data_Retrieval_Spec.md
  memory-bank/activeContext.md
  memory-bank/progress.md
  pyproject.toml
  src/pubmed_search/domain/entities/__init__.py
  src/pubmed_search/domain/entities/figure.py
  src/pubmed_search/infrastructure/sources/europe_pmc.py
  src/pubmed_search/infrastructure/sources/figure_client.py
  src/pubmed_search/presentation/mcp_server/TOOLS_INDEX.md
  src/pubmed_search/presentation/mcp_server/instructions.py
  src/pubmed_search/presentation/mcp_server/tool_registry.py
  src/pubmed_search/presentation/mcp_server/tools/__init__.py
  src/pubmed_search/presentation/mcp_server/tools/europe_pmc.py
  src/pubmed_search/presentation/mcp_server/tools/figure_tools.py
  tests/test_figure_client.py
  tests/test_figure_entity.py
  tests/test_figure_tools.py
  tests/test_tool_registry.py
  uv.lock
Due: mypy, async-test-checker, tool-count-sync, evolution-cycle

refactor: unify article identity and ranking internals
  src/pubmed_search/application/pipeline/executor.py
  src/pubmed_search/application/search/ranking_algorithms.py
  src/pubmed_search/application/search/result_aggregator.py
  src/pubmed_search/infrastructure/sources/europe_pmc.py
  src/pubmed_search/infrastructure/sources/figure_client.py
  src/pubmed_search/presentation/mcp_server/tool_registry.py
  src/pubmed_search/shared/__init__.py
  src/pubmed_search/shared/article_identity.py
  tests/test_final_90.py
  tests/test_fulltext_download.py
  tests/test_fulltext_urls.py
  tests/test_openurl.py
  tests/test_pipeline_report_save.py
  tests/test_ranking_algorithms.py
  tests/test_reproducibility.py
  tests/test_result_aggregator.py
  tests/test_target_90_coverage.py
  tests/test_tool_registry.py
Due: mypy, async-test-checker, tool-count-sync

feat: add unified search context graph and progress
  src/pubmed_search/presentation/mcp_server/tools/unified.py
  src/pubmed_search/presentation/mcp_server/tools/unified_formatting.py
  src/pubmed_search/presentation/mcp_server/tools/unified_helpers.py
  tests/test_unified_tools.py
Due: mypy, async-test-checker, tool-count-sync

docs: sync release notes and unified search usage
  .github/copilot-instructions.md
  CHANGELOG.md
  README.md
  README.zh-TW.md
  pyproject.toml
  src/pubmed_search/domain/entities/__init__.py
  src/pubmed_search/presentation/mcp_server/instructions.py
  src/pubmed_search/presentation/mcp_server/tools/__init__.py
Due: mypy, tool-count-sync, evolution-cycle

build: update lockfile for v0.4.5
  uv.lock
Due: none

feat(mcp): expand context support and session resources
  pyproject.toml
  src/pubmed_search/presentation/mcp_server/session_tools.py
  src/pubmed_search/presentation/mcp_server/tool_registry.py
  src/pubmed_search/presentation/mcp_server/tools/europe_pmc.py
  src/pubmed_search/presentation/mcp_server/tools/timeline.py
  tests/test_europe_pmc_tools.py
  tests/test_session_tools.py
  tests/test_timeline_tools.py
  tests/test_tool_registry.py
  uv.lock
Due: mypy, async-test-checker, tool-count-sync, evolution-cycle

refactor(core): reuse shared transport and ttl cache
  src/pubmed_search/infrastructure/ncbi/icite.py
  src/pubmed_search/infrastructure/pubtator/client.py
  tests/test_90_percent.py
  tests/test_entrez_modules.py
  tests/test_final_push.py
  tests/test_pubtator_client.py
Due: mypy, async-test-checker

style: normalize hook-driven formatting updates
  docs/MCP_Visual_Data_Retrieval_Spec.md
  scripts/hooks/check_docstring_tools.py
  scripts/hooks/check_env_config.py
  scripts/hooks/check_no_print.py
  src/pubmed_search/application/search/ranking_algorithms.py
  src/pubmed_search/application/search/reproducibility.py
  src/pubmed_search/application/search/result_aggregator.py
  src/pubmed_search/infrastructure/sources/europe_pmc.py
  src/pubmed_search/infrastructure/sources/figure_client.py
  src/pubmed_search/presentation/mcp_server/tools/figure_tools.py
  src/pubmed_search/presentation/mcp_server/tools/unified.py
  src/pubmed_search/presentation/mcp_server/tools/unified_formatting.py
  tests/test_figure_client.py
  tests/test_figure_tools.py
  tests/test_pipeline_report_save.py
  tests/test_ranking_algorithms.py
  tests/test_unified_comprehensive.py
  tests/test_unified_tools.py
Due: mypy, async-test-checker, tool-count-sync, evolution-cycle

docs: sync MCP guidance and memory bank
  .github/copilot-instructions.md
  CHANGELOG.md
  README.md
  README.zh-TW.md
  memory-bank/activeContext.md
  memory-bank/decisionLog.md
  memory-bank/progress.md
  memory-bank/systemPatterns.md
  src/pubmed_search/presentation/mcp_server/TOOLS_INDEX.md
Due: tool-count-sync, evolution-cycle

docs: add architecture overview diagram to README
  README.md
  docs/images/architecture-overview.jpg
Due: none

docs: add 4 architecture diagrams (fixes desktop display issue)
  README.md
  docs/images/architecture-overview.jpg
  docs/images/pico-workflow.jpg
  docs/images/tools-overview.jpg
  docs/images/unified-search-flow.jpg
Due: none

Revert "docs: add 4 architecture diagrams (fixes desktop display issue)"
  README.md
  docs/images/architecture-overview.jpg
  docs/images/pico-workflow.jpg
  docs/images/tools-overview.jpg
  docs/images/unified-search-flow.jpg
Due: none

fix: align HTTP launchers and local HTTPS wrapper
  Dockerfile
  docker-compose.https.yml
  nginx/nginx.conf
  run_copilot.py
  run_server.py
  scripts/run_https_local.py
  scripts/start-copilot-ngrok.sh
  scripts/start-copilot-studio.sh
  scripts/start-https-docker.sh
  scripts/start-https-local.sh
  src/pubmed_search/presentation/mcp_server/http_compat.py
  tests/test_http_compat.py
Due: mypy, async-test-checker, tool-count-sync

docs: refresh repo skills and research agent guide
  .claude/skills/changelog-updater/SKILL.md
  .claude/skills/code-refactor/SKILL.md
  .claude/skills/code-reviewer/SKILL.md
  .claude/skills/ddd-architect/SKILL.md
  .claude/skills/git-doc-updater/SKILL.md
  .claude/skills/git-precommit/SKILL.md
  .claude/skills/memory-checkpoint/SKILL.md
  .claude/skills/memory-updater/SKILL.md
  .claude/skills/pipeline-persistence/SKILL.md
  .claude/skills/project-init/SKILL.md
  .claude/skills/pubmed-export-citations/SKILL.md
  .claude/skills/pubmed-fulltext-access/SKILL.md
  .claude/skills/pubmed-gene-drug-research/SKILL.md
  .claude/skills/pubmed-mcp-tools-reference/SKILL.md
  .claude/skills/pubmed-multi-source-search/SKILL.md
  .claude/skills/pubmed-paper-exploration/SKILL.md
  .claude/skills/pubmed-pico-search/SKILL.md
  .claude/skills/pubmed-quick-search/SKILL.md
  .claude/skills/pubmed-systematic-search/SKILL.md
  .claude/skills/readme-i18n/SKILL.md
  .claude/skills/readme-updater/SKILL.md
  .claude/skills/roadmap-updater/SKILL.md
  .claude/skills/test-generator/SKILL.md
  .claude/skills/tool-sync/SKILL.md
  .github/agents/research.agent.md
Due: evolution-cycle

chore: add skills hook and citation metadata
  .github/copilot-instructions.md
  .pre-commit-config.yaml
  CITATION.cff
  CONTRIBUTING.md
  scripts/hooks/check_evolution_cycle.py
  scripts/hooks/check_file_hygiene.py
  scripts/hooks/check_skills_frontmatter.py
  tests/test_check_skills_frontmatter.py
Due: mypy, async-test-checker, evolution-cycle
